{% extends "layout.html" %}
{% block body %}
<h2>Course Frequently Asked Questions</h2>

<br/>
<h4>Are there required courses for my freshman year?</h4>
<p>Yes. Entering freshmen must take English, Math, Social Studies, Science, a Language Other Than English (LOTE), two LASA signature courses &mdash; Science and Technology and Electronic Magazine &mdash; and one elective. Due to the double-blocked nature of the signature courses for freshman and sophomores, these students will only have seven classes each semester.</p>

<br/>
<h4>What is the amount of homework we can expect?</h4>
<p>Keep in mind this is only an estimate. The workload may be higher before tests and projects. In addition, regular review of material is expected. If a student is spending more time than what is listed below please encourage them to see their teacher or counselor.</p>

<ul>
    <li>English: 30-40 pages of reading</li>
    <li>LOTE, Levels 1-3: 20-40 minutes</li>
    <li>LOTE, AP Level: 45-60 minutes</li>
    <li>LOTE, Levels 5-6: 15-20 minutes</li>
    <li>Math: 60 minutes</li>
    <li>Science, AP Level: 60 minutes</li>
    <li>Science, non-AP Level: 30 minutes</li>
    <li>Social Studies, AP Level: 60 minutes</li>
    <li>Social Studies, non-AP Level: 30 minutes</li>
</ul>

<br/>
<h4>What is the graduation expectation for LASA students?</h4>
<p>All LASA students are expected to work towards achieving the magnet endorsement. The magnet endorsement requires curriculum above and beyond the expectations for the highest graduation plan in the State of Texas.</p>

<br/>
<h4>What college application assistance is available to my student when he/she gets to that point?</h4>
<p>Beginning in Fall 2008, LASA was granted a Project ADVANCE facilitator (College Counselor) to help seniors and juniors and their families prepare for the college admissions process.

This person will coordinate the college recruiter visits, the new Naviance college access system, secondary school reports, financial aid and scholarships.

Additionally, each student at LASA is assigned a counselor who can assist in the college admissions process. In addition, the English IV classes have built into the curriculum the composition of college essays during the first semester.

Also, the school hosts several nights in the second semester during junior year for parents to hear college, scholarship and financial aid information and then several nights during the senior year first semester for parents as a forum to ask questions and to ask for assistance.</p>

{% endblock %}
