{% extends "layout.html" %}
{% block body %}

<h2>How to Apply</h2>

<p>Thank you for your interest in applying to the Liberal Arts and Science Academy (LASA) High School. Please use our online application system to apply to LASA. The link is below. This online application process is currently available. If you cannot apply online or prefer to complete paper copies, please download the application by using the links below. Please refer to the calendar for important event dates and deadlines. Downloaded forms must be filled in manually and mailed to <a href="/contact">the school's address.</a></p>

<p><a target="_blank" href="{{url_for('static', filename='documents/recruitment_calendar.pdf')}}">Click here to see the admissions calendar for deadlines, testing dates, and other events.</a></p>

<h4>Electronic/Online Forms (Currently Active):</h4>

<ul>
    <li><a target="_blank" href="https://www.tfaforms.com/442866">Application</a></li>
    <li><a target="_blank" href="https://www.tfaforms.com/442823">English and Social Studies Evaluation</a></li>
    <li><a target="_blank" href="https://www.tfaforms.com/442868">Math and Science Evaluation</a></li>
    <li><a target="_blank" href="https://www.tfaforms.com/442841">Request to Shadow</a></li>
</ul>

<h4>Downloadable Forms:</h4>

<ul>
    <li><a target="_blank" href="{{url_for('static', filename='documents/application.pdf')}}">Application</a></li>
    <li><a target="_blank" href="{{url_for('static', filename='documents/english_social_eval.pdf')}}">English and Social Studies Evaluation</a></li>
    <li><a target="_blank" href="{{url_for('static', filename='documents/math_science_eval.pdf')}}">Math and Science Evaluation</a></li>
    <li><a target="_blank" href="{{url_for('static', filename='documents/rubric.pdf')}}">Evaluation Rubric</a></li>
    <li><a target="_blank" href="{{url_for('static', filename='documents/shadow_request.pdf')}}">Request to Shadow</a></li>
</ul>

<p>For questions about the application process or for technical issues, please contact the Academy Director, Andy Paulson, via email at <a href="andy.paulson@austinisd.org">andy.paulson@austinisd.org</a></p>

{% endblock %}
