{% extends "layout.html" %}
{% block body %}

<h2>Shadowing</h2>

<p>LASA encourages prospective students to spend a day with one of our current students at our campus. Prospective students will have the opportunity to ask questions about student life, academics, and extracurricular activities. Prospective students will attend all classes with their campus host in order to introduce them to our unique classroom environment. If you are interested in becoming a shadow, please find a day that works for you on our Shadow Schedule, request a visit, and familiarize yourself with the Shadow Procedures. We hope you will take this opportunity to visit LASA. We'd love to show you our campus.</p>

<p><a target="_blank" href="{{url_for('static', filename='documents/shadow_request.pdf')}}" style="font-weight:bold">Online Shadowing Request Form</a></p>

<br/>
<h4>Shadowing Procedures</h4>

<ul>
    <li>The school day is 8:10 a.m. to 3:50 p.m. (Please arrive by 8:00 am.)</li>
    <li>Report to room 276. Enter through the front doors. These are the doors under the canopy that reads "LBJ Purple Pride: Preparing Today to Conquer Tomorrow." Look for the yellow and purple signs welcoming LASA Shadows near the ceiling. Go up the stairwell immediately in front of you. This will put you near the library entrance.Take a right at the top of the stairs and then another right down the first hallway with lockers. The color of the wall near the top of the ceiling will be lavender. The LASA office is the only door on the left side of the hallway.</li>
    <li>
    As you and your parents arrive, make sure that you have the following: 
    <ul>
        <li>Lunch or lunch money.</li>
        <li>Any application materials to turn in.</li>
        <li>a plan on how to get home. Shadows will wait for their hosts in the LASA conference room which is in the Main Office.</li>
    </ul>
    </li>
    <li>
    When the shadow hosts arrive, you will be given a short orientation about the following rules: 
    <ul>
        <li>Stay with your shadow host at all times.</li>
        <li>Wear name tag visibly present at all times.</li>
        <li>Ask lots of questions.</li>
        <li>Return to the LASA office if you get separated from your shadow host.</li>
        <li>Remind your host (should he or she forget) to introduce you to his or her teacher at the beginning of the period so the teacher knows that there is a shadow in his/her class.</li>
    </ul>
    </li>
    <li>
    Come back to the LASA conference room with 10 minutes remaining in the day so you can provide LASA feedback AND we can give you absence excuse for your school.
    <ul>
        <li>Please do not show up if you have not been scheduled to shadow. You will not be allowed to shadow on that day.</li>
        <li>We arrange with our shadow hosts the day before to give them the courtesy of knowing that they will be providing a tour to a student the following day.</li>
    </ul>
    </li>
</ul>

<br/>
<h4>Shadowing Schedule</h4>

<p>LASA hosts shadows during the second semester. Please check the calendar to see when you can come visit our school.</p>

{% endblock %}
