{% extends "layout.html" %}
{% block body %}

<h2>Signature Courses</h2>

<p>One of the cornerstones of LASA is the group of courses known as Signature Courses. These innovative classes are collaborative in nature. Student groups research, design, implement and present projects in the sciences and humanities.</p>

<p>LASA freshmen take Electronic Magazine and Science and Technology; sophomores take Planet Earth and Great Ideas. Each of these classes counts as an advanced academic measure, which are required under the AISD Distinguished Academic Program graduation plan.</p>

<br/>
<h4>Science & Technology</h4>

<p>Science and Technology (a.k.a. SciTech), recognized as a National Best Practice by the American Society of Mechanical Engineers, is an accelerated block science course that is completed in one semester but yields one full year of academic credit.</p>

<p>The course is a student-centered problem-solving curricula that develops skills in mechanical engineering, physics, engineering graphics, teaming, math modeling, manufacturing (using power and hand tools) and computer processing.</p>

<p>Each student group is given a design and engineering challenge, and evaluation is based on the successful completion of the course goals, creation of the mechanical device, developed design documentation, and maintenance of a personal logbook about design experience.</p>

<p>The SciTech course activity evolves from a four-step design sequence used throughout science, engineering and technology.</p>

<br/>
<h4>Electronic Magazine</h4>

<p>In Electronic Magazine, students work in groups to create a print and digital version of a magazine. Students write a variety of journalistic pieces, relevant to audience and theme. Students also learn graphic design principles as they design an entire magazine and blog around an issue. </p>

<p>Professional graphic designers mentor students for the semester, making the magazine production process relevant for students.</p>

<br/>
<h4>Planet Earth</h4>

<p>Planet Earth focuses on the complex, dynamic relationship between the planet and its life, tracing it through the Earths geologic history. This emerging, integrative science is being referred to as geobiology at the college level.</p>

<p>The course is project-based with major components including a semester-long biodiversity study and geologic mapping exercises, through which students experience hands-on geologic and biologic field work. In fact, it is one of only two courses in the district that is being observed by the University of Texas Project-based Instruction class (the other being LASA's SciTech).</p>

<p>This interdisciplinary course relies on reading and discussion of primary source material rather than a textbook, and writing and public-speaking skills are enhanced through essay-writing and student presentations. The semester-long biodiversity study is a chance to complete authentic scientific research -- a chance for a student to do real science!</p>

<br/>
<h4>Great Ideas</h4>

<p>LASA's newest signature course builds on the skills learned in freshman and sophomore English and social studies classes and guides students through writing full-length analyses and research papers. We will consider a variety of works in the fields of literature, philosophy, history, psychology, art, architecture, anthropology, film, theater and music areas of study known collectively as the humanities. </p>

<p>Works will be considered in context, discussing author intent and the characteristics of major literary movements. However, this class will also connect thematic elements between texts of widely differing time periods and geographic regions in order to examine how peoples throughout history have thought about some of the fundamental experiences of human life. </p>



{% endblock %}
