{% extends "layout.html" %}
{% block body %}

<h2>For college admissions representatives</h2>

<p>Please contact Jamie Kocian (rhymes with ocean), LASA College Counselor, at <a href="mailto:jamie.kocian@austinisd.org">jamie.kocian@austinisd.org</a> or (512)-414-1903 (office) or (512)-841-8592 (LASA college center) to schedule a visit to meet with interested juniors and seniors.  Information sessions are scheduled between 8:15 a.m. and 3:40 p.m.</p>

<p>The Liberal Arts and Science Academy is located on the second floor of LBJ High School at 7309 Lazy Creek Drive, Austin, TX 78724.  If you would also like to meet with LBJ students during your visit to campus, please contact Carmen Tucker, LBJ College Counselor, at <a href="mailto:carmenalicia.tucker@austinisd.org">carmenalicia.tucker@austinisd.org</a> or (512)-414-7064, to set up a separate visit.</p>

<p>Visitor parking is located in the parking lot at the front entrance of the building (off of Lazy Creek Drive).  When you walk in the main entrance, go straight upstairs and check in at the LASA office. </p>
{% endblock %}
