{% extends "layout.html" %}
{% block body %}

<h2 class="post-title" style="border-bottom:0px">LASA {{title}}</h2>
{% if current_user.is_authenticated %}
<div class="edit-delete">
    <a href="/newfaculty">new faculty member</a>
</div>
{% endif %}

<p>Click on a faculty member's name to access their individual website.</p>

<table class="table">
<tr>
    <th>Name</th>
    <th>Position</th>
    <th>Phone</th>
    <th>Email</th>
    {% if (current_user.is_authenticated) %}
    <th></th>
    {% endif %}
</tr>

{% for member in faculty %}

<tr>
    <td>
        {% if member.website %}
        <a target="_blank" href="{{member.website}}">{{member.firstname}} {{member.lastname}}</a>
        {% else %}
        {{member.firstname}} {{member.lastname}}
        {% endif %}
    </td>
    <td>{{member.occupation}}</td>
    <td>{{member.tel}}</td>
    <td><a href="mailto:{{member.email}}">{{member.email}}</a>

    {% if (current_user.is_authenticated) %}
    <td>
    <div class="edit-delete">
    <a href="/editfaculty?id={{member.id_}}">edit</a> 
    | 
    <a href="/delfaculty?id={{member.id_}}">delete</a>
    </div>
    </td>
    {% endif %}
</tr>

{% endfor %}

</table>

{% endblock %}
