{% extends "layout.html" %}
{% block body %}

{% if "edit" in request.path %}
<div class="form-label">Edit {{heading}}</div>
{% else %}
<div class="form-label">New {{heading}}</div>
{% endif %}

<br/>
<br/>
<div>
	<form method="post">
		{{form.csrf_token}}

		{{form.title.label}} <br/>
		{{form.title()|safe}} <br/>
		<div class="error">{{form.title.errors[0]}}</div> 
        <br/>
		
		{{form.body.label}} <br/>
		{{form.body()|safe}} <br/>
		
		<input type="button" value="Submit" class="submit-btn" onclick="doSubmit()">

        {{form.bodyhtml}}

	</form>
</div>

{% endblock %}
