{% extends "layout.html" %}
{% block body %}

<h2>Common Issues in Counseling Gifted Students</h2>

<p>Gifted students often "mask" their feelings and may not show outward signs of stress. Research* supports the obvious: gifted students have the same basic counseling needs, issues and concerns that other students have; however, gifted students may experience additional needs stemming from their abilities.</p>

<p>These would include some of the following:</p>

<ul>

<li>Difficulty with ownership of their abilities and feeling as if they must prove themselves to teachers, peers and parents;</li>
<li>Self-doubt;</li>
<li>Having plans and desires that compete with those of their parents and teachers, resulting in students' feeling pushed by the demands of others;</li>
<li>Having an overwhelming number of options presented to them;</li>
<li>Gifted children experience stress more intensely than their peers do;</li>
<li>Feelings of depression and sadness are often more existential in nature than related to a specific situation. They frequently experience a crisis of meaning;</li>
<li>Because gifted children tend to seek perfection, they tend to be overly critical of themselves, resulting in feelings of inadequacy; and</li>
<li>Gifted children engage in negative self-talk beginning at early ages that results in greater stress and often become concerned with problems that are beyond their control, causing feelings of helplessness.</li>

</ul>

<br/>
<p>(*Adapted from Shelly, RW; Getz, HG; Mathai, CM; Defining Counselor Roles and Functions in a National Consortium School: A New Paradigm. NCSSSMST Journal. May 2002. Pp. 9-14.)</p>

{% endblock %}
