{% extends "layout.html" %}
{% block body %}

<h2>Service Learning</h2>

<h4><a target="_blank" href="https://lbjcares.wordpress.com/">LBJ Cares</a></h3>

<p>LBJ Cares is a volunteer service club dedicated to volunteer work and helping out the community. We do all sorts of service work and projects varying from environmental work to can drives. If you'd like us to help out at a volunteer service event, don't hesitate to contact us by sending an email to <a href="mailto:lbjcaresweb@gmail.com">lbjcaresweb@gmail.com.</a></p>

<h4><a target="_blank" href="http://www.thepurplecarrotproject.blogspot.com">The Purple Carrot Project</a></h3>

<p>We are the LASA/LBJ High School Environmental Club from Austin, TX and we are on a mission to make our campus and community a greener place through community-wide square foot gardening and on-site composting.</p>

{% endblock %}
