{% extends "layout.html" %}
{% block body %}

<h2>Student Wellness</h2>

<h4>Counseling Services</h4>

<p>While students will be able to resolve most of the difficulties they experience with the assistance of parents, friends, or staff members, there may be times when social/emotional issues interfere with the adjustment to LASA's academic program.</p>

<p><a target="_blank" href="/guidance">Wellness Counselors</a> frequently work with students who struggle with personal issues, including:</p>

<ul>
    <li>Depression</li>
    <li>Anxiety</li>
    <li>Self-Esteem</li>
    <li>Eating Issues</li>
    <li>Identity Issues</li>
    <li>Drug/Alchohol Use</li>
    <li>Social Issues</li>
    <li>Grief/Loss</li>
</ul>

<p>Although Wellness Counselors are equipped to provide continued support at school, they can also help provide referrals to outside resources, therapists and clinicians.</p>

<p style="font-weight:bold">If a student's concern is mostly academic in nature, they should visit with their School Counselor first. Our School Counselors are all experts in personal counseling, study skills, and stress reduction!</p>

<br/>
<h4>How do I make an appointment?</h4>

<p>If you need to see a Wellness Counselor, you can make an appointment by:</p>

<ul>
    <li>Going to the Main Office and filling out an appointment slip,</li>
    <li>Or emailing us at <a href="mailto:marissa.rivera@austinisd.org">marissa.rivera@austinisd.org</a> or <a href="meagan.butler@austinisd.org">meagan.butler@austinisd.org</a>.</li>
</ul>

<br/>
<h4>Confidentiality</h4>

<p>Everything you tell a counselor will be kept private and confidential. However, there are times when counselors need to break confidentiality in order to make sure students are safe. The three reasons for breaking confidentiality are:</p>

<ol>
    <li>If you disclose hurting someone.</li>
    <li>If you disclose hurting yourself or plans to hurt yourself.</li>
    <li>If you disclose that someone has hurt you.</li>
</ol>

<br/>
<h4>Additional Resources:</h4>
<ul>
    <li><a href="/wellness/issues">Common Issues in Counseling Gifted Students</a></li>
    <li><a href="/wellness/when">When Should I See a Counselor?</a></li>
    <li><a href="/wellness/abuse">Reporting Suspected Child Abuse and Neglect</a></li>
</ul>

{% endblock %}
