/* Overall Website Look n' Feel */

body {
  background-color:#F7F7F7;
}

hr {
  border-color:#ccc;
}

/* Top Bar and Navbar Content */
.top-bar-wrapper {
  position:relative;
  z-index:1;
  min-width:960px;
}

#top-banner {
	width: 100%;
	background-color: #7C00CC;
	height: 135px;
  position:relative;
  z-index:0;
}

#logo {
  width:150px;
  position:absolute;
  top:10px;
  z-index:2
}

#logo-wrapper {
  width:880px;
  margin-left:auto;
  margin-right:auto;
}

#header-wrapper {
  margin:auto;
  width:557px;
  height:100%;
  position:relative;
  z-index:0;
}


#jaguar {
  position:absolute;
  bottom:-15px;
  right:-130px;
  z-index:-1;
}

#title-text-wrapper {
  text-align:center;
  padding-top:28px;
  width:5%%;
}

.title-text {
  color:white;
  font-size:2.5em;
  font-family: "Trebuchet MS", "Liberation Sans", sans-serif;
  font-variant:small-caps;
}

.subtitle-text {
  font-family: Cursive;
  font-size:20px;
  color:white;
}

.navbar-nav > li {
  display:inline-block;
}

.nav .navbar-nav {
  white-space:nowrap;
}

.navbar-nav > li > a {
  padding-top:10px;
  padding-bottom:10px;
}

.navbar {
  min-height:10px;
  min-width:960px;
  float: top;
	background-color: grey;
	text-align: center;
  margin-bottom:0px;
  border-radius:0px;
  transition: all 0.5s ease;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.dropdown {
	cursor:pointer;
	cursor:hand;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown-menu>li>a:hover {
  background-color:#ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle{
	background-color: #777;
  transition: all 0.5s ease;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color:inherit;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar a {
	color:white;
}

#home-button {
  background-color:#777;
}

/* Body */

.body-column {
  background-color:white;
  height:1000px;
  width:925px;
  margin:10px auto;
  padding:1em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.external-links {
  width:925px;
  margin:10px auto;
}

.panel-group .panel {
  border-radius:0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.panel-body {
  padding-top:5px;
  padding-bottom:5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top-color:#e6e6e6;
}

.footer {
  background-color:white;
  width:925px;
  margin:10px auto;
  padding:2em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#footer-contact-title {
  font-size:1em;
  font-weight:lighter;
  color:#aaa;
  font-variant:small-caps;
}

.footer-contact-head {
  font-size:1.1em;
  color:#888;
  text-transform: uppercase;
}

.footer-contact-subhead {
  font-size:0.9em;
  color:#888;
  text-transform: uppercase;
}

.footer-contact-main {
  font-size:1.5em;
  color:#444;
}

.footer-contact-secondary {
  font-size:1.2em;
}

.dotted-rule {
  border-top:dotted 1px #ccc;
}

#copyright {
  color:#bbb;
}
iframe {
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
}