/* Overall Website Look n' Feel */

body {
  background-color:#F7F7F7;
  font-family:"Roboto",sans-serif;
  letter-spacing:0.5px;
  color:#777;
}

hr {
  border-color:#ccc;
}

h4 {
  font-size:18px;
  font-weight:bold;
}

h5 {
  font-weight:bolder;
}

/* Top Bar and Navbar Content */
.top-bar-wrapper {
  position:relative;
  z-index:1;
  min-width:960px;
}

#top-banner {
  width: 100%;
  background-color: #4E2A84;
  height: 135px;
  position:relative;
  z-index:0;
}

#logo {
  width:150px;
  position:absolute;
  left:50%;
  margin-left:-450px;
  top:10px;
  z-index:1;
}

#logged-in {
  color:#ADADAD;
  position:absolute;
  text-align:right;
  right:50%;
  margin-right:-450px;
  top:30px;
  z-index:1;
}

#logged-in > a {
  color:#ADADAD;
}

#home-link {
  z-index:2;
}

#jaguar {
  position:absolute;
  bottom:-10px;
  left:50%;
  margin-left:240px;
  z-index:-1;
}

#title-text-wrapper {
  text-align:center;
  padding-top:28px;
  width:100%;
  z-index:2;
}

.title-text {
  color:white;
  font-size:2.5em;
  font-family: "Titillium", "Trebuchet MS", "Liberation Sans", sans-serif;
  font-variant:small-caps;
}

.subtitle-text {
  font-family: 'Playfair Display';
  font-weight:lighter;
  font-size:20px;
  color:white;
}

.container-fluid {
  box-shadow:0px 2px 4px rgba(0,0,0,0.4);
}
.navbar-nav > li {
  display:inline-block;
}

.nav .navbar-nav {
  white-space:nowrap;
  z-index:3;
}

.navbar-nav > li > a {
  padding-top:10px;
  padding-bottom:10px;
}

.navbar {
  min-height:10px;
  min-width:960px;
  float: top;
	background-color: #222222;
	text-align: center;
  margin-bottom:0px;
  border-radius:0px;
  transition: all 0.5s ease;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.dropdown {
	cursor:pointer;
	cursor:hand;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown-menu>li>a:hover {
  background-color:#ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-toggle{
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.dropdown:hover{
	background-color: #777;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color:inherit;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar a {
	color:white;
}

/* Body */
.notification-bar {
  width:925px;
  margin:10px auto;
}
.notification-bar > .alert {
  border-radius:0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.alert-success {
  color:#402b54;
  background-color:#d7d7ef;
  border-color: #c8c8ea;
}

.alert-success .alert-link {
  color:#402b54;
}

.body-column {
  background-color:white;
  min-height:800px;
  width:925px;
  margin:10px auto;
  padding:1em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.external-links {
  width:925px;
  margin:10px auto;
  margin-top:20px;
}

.panel-group .panel {
  border-radius:0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.panel-body {
  padding-top:5px;
  padding-bottom:5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top-color:#e6e6e6;
}

.footer {
  background-color:white;
  width:925px;
  margin:10px auto;
  padding:2em;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.footer-text {
  font-size:1em;
  color:#888;
}

.dotted-rule {
  border-top:dotted 1px #ccc;
  margin:10px auto;
  margin-left:50px;
}

.footer-tel-label {
  display:inline-block;
  line-height:1em;
  border-bottom:dotted 1px #ccc;
}

.latest-news-index {
  float:right;
  width:33%;
}

.news-item-link-index {
  display:inline-block;
  padding-bottom:7px;
}

.lasa-quick-calendar {
  display:inline-block;
  width:33%;
}

/* Login/Form submission */

.form-label {
  font-size:32px;
  line-height:32px;
  padding-bottom:5px;
  padding-right:10px;
  display:inline-block;
  clear:both;
  max-width:90%;
  min-width:30%;
  border-bottom:1px solid #A8A6A6;
}

.error {
  color:red;
}

.submit-btn {
  border : solid 2px #787878;
  border-radius : 3px;
  moz-border-radius : 3px;
  font-size : 14px;
  color : #f5f5f5;
  padding : 1px 10px 2px;
  background-color : #9D46DB;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #A269CE;
}

#title {
  width:50%;
}

#body {
  width: 100%;
  height:500px;
}

/*News page*/

.news-item {
  display:inline-block;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  border-top:1px solid #A8A6A6;
}

.news-item-link {
  font-size:18px;
}

.post-title {
  font-size:32px;
  line-height:32px;
  padding-bottom:5px;
  padding-right:10px;
  display:inline-block;
  clear:both;
  max-width:90%;
  min-width:46%;
  border-bottom:1px solid #A8A6A6;
}

.post-subtitle > a {
  
}

.edit-delete {
  clear:both;
  float:right;
  color:inherit;
  white-space:nowrap;
}

.edit-delete > a {
  color:inherit;
}

.post-body {
  white-space:pre-wrap;
}


.table > tbody > tr > td {
  width:33%;
}


#fast-facts td {
  padding:1em;
}
tr:hover {
  background-color:#eee;
}
.rowhead {
  font-weight:bolder;
  color:#7d6aba;
  border-right:1px dotted #b09dee;
}
.infographic {
  text-align:center;
}
.infographic > h2 {
  margin-bottom:0;
  padding-bottom:0;
}
.leftinfo {
  border-right:1px dotted #aaa;
}
#gradetable th, #gradetable td {
  padding:1em;
}
th {
  color:#7d6aba;
}
