{% extends "layout.html" %}
{% block body %}

<h2>When Should I See a Counselor?</h2>

<p>Seeing a LASA counselor is a personal decision. Students often seek out the counselors when issues or concerns affect their academic performance, relationships, or health.</p>

<p>When your usual ways of handling a situation no longer seem productive, your usual coping strategies don't seem to be working that well, or you feel like things are not getting better, that is the time to talk. If another person suggests you talk to someone, that may also be the time to go in.</p>

<p><span style="font-weight:bold">Ask for help early and often!</span> Talking about a situation <span style="font-weight:bold">before</span> it turns into a major crisis is important.</p>

<br/>
<h4>How often will I meet with a counselor?</h4>

<p>Some students come to the counselors for a few meetings to help clarify their thinking, check in about specific issues in their lives, or just talk with someone who is willing to listen. Other students come in for one session just to see if talking about the issue or concern would help, or to get a second opinion separate from their other resources.</p>

{% endblock %}
