{% extends "layout.html" %}
{% block body %}

<h4 style="font-weight:bold;">Academics</h4>
<ul>
  <li>The National Merit Scholarship Corporation recognized a number of LASA students: 26 National Merit Semifinalists and Finalists, 3 National Achievement Scholars, 11 National Hispanic Recognition Program Students, and 55 Commended Students.</li>
  <li>Two LASA students were invited to take the AIME (American Invitational Mathematics Exam). To qualify for the AIME students must first take the AMC exam and be among the top 5% of scorers nationally.</li>
  <li>LASA Robotics won the "Connect" award in appreciation of the team's commitment to Community and Outreach programs.</li>
  <li>LASA German students won sweepstakes at the Regional language competition.</li>
  <li>The LASA Quiz Bowl team won the National Quiz Bowl Tournament.</li>
  <li>The LASA Computer Science Team placed 1st in the Region as a Team and two students placed1st and 2nd as Individuals.</li>
  <li>The Latin Club placed 3rd in the Area F competition.</li>
  <li>All five of the Information Technology II students passed their CompTIA Network+ certification exams.</li>
  <li>Three students qualified for the Intel International Science Fair.</li>
  <li>A LASA student won a 2nd place silver medal at the International Sustainable World Project Olympiad.</li>
</ul>

<h4>Athletics</h4>
<ul>
  <li>A student signs to play football for Weslayan University.</li>
  <li>A student signs to play football for the University of Chicago.</li>
  <li>A LASA All American swimmer plans to swim for the University of Chicago.</li>
  <li>In tennis, 13 players won through the district tournament to the 4A regionals in San Antonio.</li>
  <li>In Community Service and Eagle Scouts:</li>
  <li>A LASA senior received a Congressional award, the bronze medal for community service.</li>
</ul>

<h4>Fine Arts</h4>
<ul>
  <li> A number of theater students were named to the UIL One Act All Star cast, the UIL One Act All Star crew, UIL One Act Honorable Mention All Star cast, and UIL One Act Honorable Mention All Star cast.</li>
  <li>In UIL Solo and Ensemble, 11 solos and both of our quartets qualify for state.</li>
  <li>The band has had a year of accomplishments.</li>
  <li>First Place State TCGC Champions - Winterguard of LBJ</li>
  <li>The Lonestar Percussion Division II Champions of LBJ</li>
  <li>The "Caldwell Cup" - Best Percussion Performance - LBJ</li>
  <li>The Temple Jazz Festival - LBJ Band & Stage Band's Victory!</li>
  <li>The LBJ Concert Band - winners of Straight Ones at UIL</li>
  <li>The LBJ Symphonic Band - winners of Straight Ones at UIL</li>
  <li>The LBJ Wind Symphony - winners of Straight Ones at UIL</li>
</ul>

<h4>Other Major Accomplishments</h4>
<ul>
  <li> The film Color Me (Adjective), was accepted to the Austin Film Festival.</li>
  <li>Short film, "The Benefactress," won the Texas High School Shorts Competition at the SXSW Film Festival.</li>
</ul>
{% endblock %}
