{% extends "layout.html" %}
{% block body %}
	<!--Local Scripts-->
	<script type = "text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
	<!-- -->
	<h2>School Profile</h2>
	<h4>Liberal Arts and Science Academy High School</h4>
	<img src="{{ url_for('static', filename='images/students-sitting-and-standing-around-in-parking-lot-with-some-milk-cartons-and-phones.jpg') }}" class="img-thumbnail pull-right" width=250px; />
	<table id="fast-facts">
		<tr>
			<td class="rowhead">Address</td>
			<td>7309 Lazy Creek Drive, Austin, Texas 78724</td>
		</tr>
		<tr>
			<td class="rowhead">Phone</td>
			<td>512-414-LASA</td>
		</tr>
		<tr>
			<td class="rowhead">Fax</td>
			<td>512-414-6050</td>
		</tr>
		<tr>
			<td class="rowhead">School Colors</td>
			<td>7309 Lazy Creek Drive, Austin, Texas 78724</td>
		</tr>
		<tr>
			<td class="rowhead">CEEB Code</td>
			<td>440069</td>
		</tr>
	</table>
	<div class="infographic col-sm-12"><h1>LASA At a Glance</h1></div>
	<div class="col-sm-12">
		<h5>Summary</h5>
		<p>The Liberal Arts and Science Academy (LASA) High School is a four-year comprehensive, public, urban, advanced academic magnet high school of 1,122 students. The class of 2017 numbers 251 students. The program recruits the most academically advanced students from public and private middle schools in Austin; as such, admission to LASA is competitive, based on test scores, previous accomplishments and teacher recommendations.</p>
	</div>
	<div class="leftinfo col-sm-6">
		<h5>History</h5>
		<p>The LBJ Science Academy, Austin's first magnet program, was created in 1985. The Liberal Arts Academy at Johnston High School opened in 1987. The two programs were merged in 2002 and became the Liberal Arts and Science Academy (LASA), housed on the Lyndon Baines Johnson High School campus. In 2007, the school board voted to make LASA its own high school. The two high schools, LASA and LBJ, are housed on the same campus and still share fine arts and athletics classes. They compete in UIL events as one school.</p>
		<p><a href="/history"><span class="glyphicon glyphicon-link
		glyphicon "></span>Read more about LASA's history</a></p>
	</div>
	<div class="col-sm-6">
		<h5>Mission</h5>
		<p>LASA educates socially responsible leaders, problem solvers, and thinkers through a nationally recognized, rigorous, innovative, interdisciplinary curriculum.</p>
		<p><a href="/mission"><span class="glyphicon glyphicon-link
		glyphicon "></span>Read more about LASA's mission and vision</a></p>
	</div>
	<div style="clear:both"></div>
	<div class="col-sm-12">
		<h5>Student Profile</h5>
		<canvas id="racechart" height="100px"></canvas>
	</div>
	<div class="infographic col-sm-12"><h2 style="font-variant:small-caps">Academia</h2><h5>2015-16 Recognitions</h5></div>
	<div class="infographic col-sm-12"><h2>42<sup>nd</sup></h2>Nationally, US News & World Report's 2016 Best High Schools in America</div>
	<div class="infographic col-sm-12"><b>Post Secondary Placement</b></div>
	<div class="infographic leftinfo col-sm-4">
		<h4>96%</h4>
		<p>Marticulating to 4-year Colleges/Universities</p>
	</div>
	<div class="infographic leftinfo col-sm-4">
		<h4>2.8%</h4>
		<p>Marticulating to 2-year Colleges/Universities</p>
	</div>
	<div class="infographic col-sm-4">
		<h4>2.8%</h4>
		<p>Taking Gap-Year Before Enrolling</p>
	</div>
	<div class="col-sm-12">
		<h5>Curriculum</h5>
		<p>The curricular expectations for LASA students exceed that of a traditional curricular program. The curriculum for every course is written to go above and beyond state and district standards. LASA courses move at a quicker pace, cover more material, are project-based, and rely heavily on discussion and seminar style delivery of course information or the use, interpretation, and delivery of research.</p>
	</div>
	<div class="infographic leftinfo col-sm-6">
		<h4>31</h4>
		<p>AP Courses</p>
	</div>
	<div class="infographic col-sm-6">
		<h4>108</h4>
		<p>Honors Courses</p>
	</div>
	<div class="col-sm-12">
		<h5>Signature Courses</h5>
		<p>One of the cornerstones of LASA is the group of courses known as Signature Courses. These innovative classes are collaborative in nature. Student groups research, design, implement and present projects in the sciences and humanities. LASA freshmen take Electronic Magazine and Science and Technology; sophomores take Planet Earth and Great Ideas. These classes are described in more detail on the LASA Web site in the Prospective Students section.</p>
	</div>
	<div class="col-sm-12">
		<h5>Graduation Requirements</h5>
		<p>LASA students complete a rigorous program of study that requires a minimum of 26 credits for graduation. In addition to completing the requirements for the state of Texas Distinguished Achievement Program (as prescribed by the Texas Education Agency), students must complete a minimum of 17 magnet credits to receive a Magnet endorsement upon graduation.</p>
	</div>
	<div class="col-sm-12">
		<h5>Advanced Placement</h5>
		<p>An upperclassman will typically take 4 to 5 AP courses per semester. In 2016, on their own initiative, LASA students took 2,160 Advanced Placement tests with an 82% passing rate. Advanced Placement courses are offered in the following areas: U.S. Government, Comparative Government, French Language, Computer Science, Spanish Language, Statistics, Chinese Language, Calculus AB/BC, English Literature, German Language, Japanese Language and Culture, Latin, U.S. History, European History, Studio Art, Biology, Music Theory, Physics B, Physics C:M/EM, Chemistry, Environmental Science, Psychology, English Language, Economics: Micro/Macro, Spanish Literature, Art History, World History, and Human Geography.</p>
	</div>
	<div class="infographic col-sm-12">
		<h5>Grading System</h5>
		<table id="gradetable" align=center>
			<tr>
				<th>Letter Grade</th>
				<th>Numeric Value</th>
				<th>Weighted Value</th>
				<th>Unweighted Value</th>
			</tr>
			<tr>
				<td>A</td>
				<td>90&ndash;100</td>
				<td>4.0&ndash;5.0</td>
				<td>3.0&ndash;4.0</td>
			</tr>
			<tr>
				<td>B</td>
				<td>80&ndash;90</td>
				<td>4.0&ndash;5.0</td>
				<td>3.0&ndash;4.0</td>
			</tr>
			<tr>
				<td>C</td>
				<td>70&ndash;80</td>
				<td>4.0&ndash;5.0</td>
				<td>3.0&ndash;4.0</td>
			</tr>
			<tr>
				<td>F</td>
				<td>&le; 69</td>
				<td>0.0</td>
				<td>0.0</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-12">
		<p>The theoretical maximum GPA is 4.8 on a 4.0 scale, reflecting the number of required unweighted courses as well as 1 additional grade point for pre-AP, AP, and advanced courses. All courses are included in the cumulative GPA. GPA information for the class of 2016 is as follows:</p>
		<ul>
			<li>Highest GPA: 4.7356</li>
			<li>Lowest GPA: 2.5255</li>
		</ul>
	</div>
	<div class="col-sm-12">
		<h5>Class Rank</h5>
		<p>Because admission to LASA is competitive and tested aptitudes are above the national average, rank in class cannot be regarded as a valid indication of preparation for college for the students at LASA. For this reason, we only report class rank for the top ten percent of the senior class applying to Texas public universities pursuant to Texas Education Code Section 51.803.</p>
	</div>
	<div class="col-sm-12">
		<h5>National Merit Scholarship Program</h5>
		<canvas id="nationalmerit" height="100px"></canvas>
	</div>
	<div class="infographic col-sm-6">
		<h5>SAT Scoring Distribution (2015)</h5>
		<table id="gradetable" align=center>
			<tr>
				<th>Range</th>
				<th>Critical Reading</th>
				<th>Math</th>
				<th>Writing</th>
			</tr>
			<tr>
				<td class="rowhead">Average</td>
				<td>668</td>
				<td>669</td>
				<td>644</td>
			</tr>
			<tr>
				<td class="rowhead">700&ndash;800</td>
				<td>87</td>
				<td>78</td>
				<td>67</td>
			</tr>
			<tr>
				<td class="rowhead">600&ndash;690</td>
				<td>59</td>
				<td>80</td>
				<td>72</td>
			</tr>
			<tr>
				<td class="rowhead">500&ndash;590</td>
				<td>37</td>
				<td>29</td>
				<td>44</td>
			</tr>
			<tr>
				<td class="rowhead">400&ndash;490</td>
				<td>10</td>
				<td>8</td>
				<td>11</td>
			</tr>
			<tr>
				<td class="rowhead">300&ndash;390</td>
				<td>0</td>
				<td>0</td>
				<td>1</td>
			</tr>
			<tr>
				<td class="rowhead">200&ndash;290</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</table>
	</div>
	<div class="infographic col-sm-6">
		<h5>ACT Scoring Distribution (2016)</h5>
		<p>(Out of 179 students)</p>
		<table id="gradetable" align=center>
			<tr>
				<th>English</th>
				<th>Math</th>
				<th>Reading</th>
				<th>Writing</th>
				<th>Composite Score</th>
			</tr>
			<tr>
				<td>29.6</td>
				<td>29.4</td>
				<td>29.8</td>
				<td>29.5</td>
				<td>29.8</td>
			</tr>
		</table>
	</div>
	<div class="infographic col-sm-12">
		<h3>College and University Acceptances</h3>
		<h4>Class of 2016</h4>
	</div>
	<div class="leftinfo col-sm-3">
		<p>Abilene Christian University</p>
		<p>Agnes Scott College (1)</p>
		<p>The University of Alabama (2)</p>
		<p>Allegheny College</p>
		<p>American University (3)</p>
		<p>Amherst College</p>
		<p>Angelo State University (1) Arizona State University (4)</p>
		<p>The University of Arizona</p>
		<p>University of Arkansas</p>
		<p>Auburn University</p>
		<p>Austin College (2) Austin Community College (5)</p>
		<p>Bard College</p>
		<p>Barnard College (1) Baylor University (2)</p>
		<p>Belmont University Beloit College (1)</p>
		<p>Bentley University (1) Blinn College (1)</p>
		<p>Boston University</p>
		<p>Bowdoin College Brandeis University (2)</p>
		<p>University of British Columbia</p>
		<p>Brown University (2)</p>
		<p>Bryn Mawr College</p>
		<p>California Polytechnic State University, San Luis Obispo (2)</p>
		<p>University of California, Berkeley University of California, Davis University of California, Los Angeles</p>
		<p>University of California, San Diego</p>
		<p>University of California,Santa Barbara (1)</p>
		<p>University of California, Santa Cruz</p>
		<p>University of Cambridge (1) Carleton College (1) Carnegie Mellon University (2)</p>
		<p>Case Western Reserve University</p>
		<p>Centre College</p>
		<p>Chapman University</p>
		<p>College of Charleston</p>
		<p>University of Chicago (2)</p>
		<p>University of Cincinnati</p>
		<p>Clark University</p>
		<p>Clemson University</p>
		<p>Colby College</p>
		<p>University of Colorado at Boulder (1)</p>
		<p>University of Colorado, Colorado Springs</p>
		<p>Colorado Mesa University (1)</p>
		<p>Colorado School of Mines (1)</p>
		<p>Colorado State University</p>
		<p>Concordia University</p>
		<p>Connecticut College</p>
		<p>Cornell University (3)</p>
		<p>Creighton University</p>
		<p>University of Dallas</p>
		<p>University of Dayton</p>
	</div>
	<div class="leftinfo col-sm-3">
		<p>Denison UniversityDePaul University</p>
		<p>DePauw University</p>
		<p>Drexel University (2)</p>
		<p>University College Dublin</p>
		<p>Duke University (1)</p>
		<p>Eckerd College</p>
		<p>Elon University Emory University (1)</p>
		<p>The Evergreen State College</p>
		<p>Florida Institute of Technology</p>
		<p>University of Florida (1) Fordham University</p>
		<p>Fort Lewis College (1)</p>
		<p>George Mason University</p>
		<p>The George Washington University Georgetown University (1)</p>
		<p>Georgia Institute of Technology (1)</p>
		<p>The University of Georgia</p>
		<p>Goucher College</p>
		<p>Grinnell College (1)</p>
		<p>Guilford College</p>
		<p>Hampshire College</p>
		<p>Hartwick College (1)</p>
		<p>Harvard University (1)</p>
		<p>Harvey Mudd College</p>
		<p>Hendrix College (1)</p>
		<p>Hillsdale College (1)</p>
		<p>Hofstra University</p>
		<p>College of the Holy Cross Hope College (1)</p>
		<p>University of Houston (2)</p>
		<p>University of Illinois at Urbana-</p>
		<p>Champaign</p>
		<p>Indiana University at Bloomington</p>
		<p>Iowa State University</p>
		<p>Johns Hopkins University (3)</p>
		<p>Kalamazoo College</p>
		<p>Kansas State University</p>
		<p>University of Kansas</p>
		<p>Kenyon College</p>
		<p>Kettering University</p>
		<p>King's College London</p>
		<p>Knox College</p>
		<p>Lafayette College (1) Lamar University</p>
		<p>Lehigh University (1) Lewis and Clark College (4)</p>
		<p>Linfield College</p>
		<p>Louisiana State University</p>
		<p>Loyola Marymount University</p>
		<p>Loyola University Chicago</p>
		<p>Loyola University New Orleans Macalester College</p>
		<p>Marquette University</p>
		<p>University of Mary Hardin-Baylor</p>
		<p>Maryland Institute College of Art
			<p>Massachusetts Institute of Technology (3)</p>
		</div>
		<div class="leftinfo col-sm-3">
			<p>Marist College (1)</p>
			<p>University of Massachusetts, Amherst</p>
			<p>McGill University (2)</p>
			<p>The University of Memphis</p>
			<p>University of Miami</p>
			<p>University of Michigan (1)</p>
			<p>Middlebury College</p>
			<p>Millsaps College</p>
			<p>Minerva Schools at KGI</p>
			<p>Minneapolis College of Art & Design (2)</p>
			<p>University of Minnesota, Twin Cities</p>
			<p>University of Mississippi</p>
			<p>Missouri University of Science and Technology</p>
			<p>University of Missouri Columbia</p>
			<p>Mount Holyoke College New York University</p>
			<p>University of North Carolina at Chapel Hill (1)</p>
			<p>North Carolina State University (1)</p>
			<p>University of North Texas (3) Northeastern University (1)</p>
			<p>University of Northern Colorado Northwestern University</p>
			<p>University of Notre Dame</p>
			<p>Oberlin College</p>
			<p>The Ohio State University</p>
			<p>University of Oklahoma (1)</p>
			<p>Oregon State University</p>
			<p>University of Oregon</p>
			<p>Pennsylvania State University</p>
			<p>Pepperdine University</p>
			<p>University of Pittsburgh</p>
			<p>Plymouth University (1) Pomona College (1)</p>
			<p>Portland State University (1)</p>
			<p>University of Portland (1) Pratt Institute (1)</p>
			<p>University of Puget Sound (1)</p>
			<p>Purdue University (1)</p>
			<p>University of Redlands (1)</p>
			<p>Reed College (1) Rensselaer Polytechnic Institute (1) Rhodes College (2) Rice University (3)</p>
			<p>Rochester Institute of Technology</p>
			<p>Rose-Hulman Institute of Technology (1)</p>
			<p>Saint Mary's College of California</p>
			<p>Sam Houston State University</p>
			<p>University of San Francisco</p>
			<p>Santa Clara University</p>
			<p>Sarah Lawrence University (1)</p>
			<p>Schreiner University (1)</p>
			<p>Scripps College (1)</p>
			<p>Seattle University (1)</p>
			<p>School of Visual Arts</p>
		</div>
		<div class="col-sm-3">
			<p>Smith College (2)</p>
			<p>University of Southern California (1) Southern Methodist University (2) Southwestern University (5) St. Edward's University (8)</p>
			<p>St. John's University</p>
			<p>St. Mary's University</p>
			<p>St. Olaf College Stanford University (3) Stephen F. Austin State University</p>
			<p>Swarthmore College</p>
			<p>Syracuse University Texas A&M University (9) Texas A&M University, Corpus Christi</p>
			<p>Texas A&M University, Galveston</p>
			<p>Texas A&M University, Kingsville</p>
			<p>Texas Christian University (1)</p>
			<p>Texas Lutheran University (1) Texas State University (7) Texas Tech University (6)</p>
			<p>Texas Wesleyan University (1)</p>
			<p>Texas Woman's University</p>
			<p>University of Texas, Arlington (1) University of Texas at Austin (40) University of Texas, Dallas (29) University of Texas, San Antonio (1)</p>
			<p>University of Texas, Tyler</p>
			<p>Trinity College Dublin Trinity University (5)</p>
			<p>Tufts University (1) Tulane University (2)</p>
			<p>University of Tulsa</p>
			<p>United States Air Force Academy (1)</p>
			<p>University of the Incarnate Word</p>
			<p>Vanderbilt University (1)</p>
			<p>Vassar College</p>
			<p>University of Vermont</p>
			<p>Villanova University</p>
			<p>Virginia Tech</p>
			<p>University of Virginia</p>
			<p>Washington University in St. Louis (1)</p>
			<p>University of Washington (2)</p>
			<p>Wellesley College (3)</p>
			<p>Wesleyan University</p>
			<p>West Virginia University (1)</p>
			<p>Whatcom Community College (1)</p>
			<p>Wheaton College IL (1)</p>
			<p>Whitman College</p>
			<p>Whittier College</p>
			<p>Willamette University (3)</p>
			<p>University of Wisconsin, Madison (2)</p>
			<p>The College of Wooster Worcester Polytechnic Institute</p>
			<p>Xavier University of Louisiana (1)</p>
			<p>Yale University (1)</p>
		</div>
		<div style="clear:both"></div>
	{% endblock %}