{% extends "layout.html" %}
{% block body %}

<h2 class="post-title" style="border-bottom:0px">{{heading}}</h2>
{% if current_user.is_authenticated %}
<div class="edit-delete">
    {% if "Principal" in heading %}
    <a href="/newmessage">new post</a>
    {% else %}
    <a href="/newpost">new post</a>
    {% endif %}
</div>
{% endif %}
{% for post in posts %}

<div class="news-item">
    {% if "Principal" in heading %}

	<a class="news-item-link" href="/messages?postid={{post.id}}">{{post.title}}</a>

    {% if current_user.is_authenticated %}
    <div class="edit-delete"> <a href="/editmessage?postid={{post.id}}">edit</a> | <a href="/delmessage?postid={{post.id}}">delete</a> </div>
    {% endif %}

    {% else %}

	<a class="news-item-link" href="/news?postid={{post.id}}">{{post.title}}</a>

    {% if current_user.is_authenticated %}
    <div class="edit-delete"> <a href="/editpost?postid={{post.id}}">edit</a> | <a href="/delpost?postid={{post.id}}">delete</a> </div>
    {% endif %}

    {% endif %}

	<br/>
	{{post.timestamp.strftime("%A, %B %d, %Y")}}
</div>

{% endfor %}

{% endblock %}
