{% extends "layout.html" %}
{% block body %}
<h2>Frequently Asked Questions</h2>

<h4>Common Application</h4>

<h5>What is the senior class size?</h5>
<p>The senior class (2016) total is 257 students.</p>

<h5>Should I list my class rank?</h5>
<p>Common App asks about class rank under the Grades portion of the Education section. By default, your class rank will not be reported on your transcript sent to Common App schools. If you choose not to report it to Common App schools, choose 'none'. If you would like to report your rank, list 'exact' for the class rank reporting question. If you list rank, you will need to complete and return the rank reporting form (more about that later) to Ms. Boothe, LASA Registrar, to indicate which of your schools you want your rank reported to along with your high school transcript. If you have questions about whether you should report rank or not, feel free to talk to Ms. Kocian.  </p>

<h5>Which GPA should I list?</h5>
<p>The only GPA we report on your transcript is the weighted GPA. Next, you'll be asked to select the GPA scale. Choose '4.0' on a weighted scale. This may not, initially, make sense, but the theoretical maximum GPA is 4.8 on a 4.0 scale, reflecting the number of required unweighted courses as well as 1 additional grade point for pre-AP, AP, and advanced courses. All courses are included in the cumulative GPA.  </p>

<h5>Are there any senior year courses I shouldn't list?</h5>
<p>Common App allows you to list up to ten senior year courses. Do not include an off-period if you have one. If you have more than ten courses, which is possible because of semester courses, prioritize your list. Your core classes should be listed first followed by electives. Credit value for a year course is 1.0; semester courses should be listed as 0.5.    </p>

<h5>Which counselor should I list on the Common Application, and how can I find their contact information?</h5>
<p>You should list your academic counselor. All of the counselor contact information is listed on page 2 of the College App Process handout (available in the Naviance document library).</p>

<h5>What does it mean to 'waive' or 'do not waive' access to my recommendation letters?</h5>
<p>You will see this on the Common App FERPA Release & Authorization section (under Assign Recommenders in the My Colleges tab) and perhaps some application forms. Waiving access to your recommendations means you will never, in the future, be able to see them. Colleges prefer that you choose this option because they consider those letters to be the more truthful assessment of you and your abilities and hence, they are given more weight in the admissions decision. If you choose, however, not to waive your access, you can see your recommendation in the future, but ONLY at the school at which you decide to enroll (after you are enrolled). Consider this: by that time, you've already been accepted...so really, what's the point?</p>

<h5>What is a CBO?</h5>
<p>In the Education section of Common App, there is a question about community-based organizations (CBO) or programs that have provided you with free assistance in your application process. Examples include Breakthrough Austin, Educational Talent Search, Questbridge, and Con Mi Madre. If you have worked with one of these programs or any of the ones listed, answer accordingly. </p>

<h5>Common App asks me if I wish to self report standardized test scores. Should I?</h5>
<p>Though you will submit your official SAT and/or ACT scores via collegeboard.org or actstudent.org, you should report your scores here. This section also allows you to report scores for your SAT Subject tests (if applicable) and AP scores you are most proud of. We recommend only listing AP scores of 4 or 5. </p>

<h5>The Activities section allows me to list only ten activities, clubs, internships, etc., but I have more. What should I do?</h5>
<p>There is an Additional Information option in the Writing section where you can list anything that you couldn't include in the Activities section or if you need to elaborate on any piece of your application.   </p>

<h5>What is LASA's school code?</h5>
<p>The code (referred sometimes as the CEEB or ETS code) is 440-069. You'll need to list this code on just about every college application and when you're signing up to take SAT, SAT Subject tests, or ACT.</p>

<h5>How many colleges should I apply to?</h5>
<p>A majority of LASA students apply to 6-8 colleges usually consisting of 2-3 reach schools, 3 likely or target schools, and 1-2 safety schools. Typically, the more schools you apply to, the more stress is involved. My suggestion to those students applying to more schools would be to plan, organize, and prioritize your process accordingly. Be aware of all of your deadlines and create those checkpoints along the way. You want every application you send to be the strongest representation of you as possible.</p>

<h5>I see that the colleges I'm applying to are visiting LASA this fall, but I've already been on their campus and have heard the admissions presentation. Do I still need to attend the info session?</h5>
<p>Yes, even if it's just to pop in and say hello to the admissions counselor. More likely than not, the person visiting our campus is the first reviewer of your application. They could be very influential in your admissions decision. Introduce yourself, express your strong interest, get their business card, and follow up with a thank you email. Demonstrated interest is very important for some schools, and a small gesture could go a long way.</p>

<h5>I heard that LASA no longer has to report class rank to colleges. What does that mean for me?</h5>

<p>In accordance with the AISD Board of Trustees' ruling in January of 2013, LASA is no longer required to report class rank on transcripts sent to colleges and universities. The primary exception to this, of course, is reporting class rank for students in the top ten percent of their class for admission to Texas public universities. There could be other exceptions when a student might choose to report their class rank, e.g. admission to Texas A&M University for students in the top twenty-five percent with a specified SAT or ACT test score.</p>

<p>When requesting transcripts for colleges, understand that the default option will be not to report rank on your transcript. If you elect to have your class rank reported, you must complete the rank reporting form (available in the Naviance document library) and an official statement certifying your GPA and class rank will be sent along with your transcript to all the schools you plan to apply to. Please return form to LASA Registrar, Paula Boothe, in room 281 or scan and email to pboothe@austinisd.org. </p>

<p>Keep in mind that once class rank is submitted to colleges, this information cannot be retracted. </p>

<h4>Recommendation Letters</h4>

<h5>How and when do I ask for Teacher/Counselor Recommendations?</h5>

<p>Before adding a teacher or counselor recommendation request in Naviance, you must first ask that teacher or counselor in person if they will write the recommendation on your behalf. You don't need to ask teachers and your counselor until early in the fall semester of your senior year. Be sure to ask at least a month in advance of your first application deadline.  </p>

<h5>How many recommendation letters do I need?</h5>

The more selective colleges and universities (Common Application member schools) typically require three letters of recommendation as part of the application process. These come from:

-High School counselor or college counselor

-Two classroom teachers (typically one Math or Science and one English or Social Studies)-teachers from core academic subjects in the junior year are preferred.

-Letters from mentors or members of the community are usually permitted (check with your specific colleges), but these are considered supplementary letters and are sent in addition to (not in lieu of) your counselor and teacher recommendations. Same thing goes for letters from fine arts elective teachers. 

Note: when you ask a teacher or a counselor to write your recommendation, they will write one letter and send it to all of your schools. You do not need to ask 5-6 teachers to write for different schools. 

<h5>I'm only applying to public institutions in Texas. Do I need a recommendation letter? </h5>

<p>Texas public institutions, e.g. UT, Texas A&M, etc., do not require recommendation letters, but these letters, in some cases, can help strengthen your application file. Be aware that some schools, like Texas A&M University, will only read two recommendation letters. Also, some Honors programs, like UT Business Honors or Natural Sciences Honors, do require a teacher recommendation.       </p>

<h5>Once my teachers and counselor have agreed to write my letter, what do I need to give them?</h5>

You will give your recommendation writers a two pocket folder with the following documents:
<ul>
  <li>a list of schools you're applying to with appropriate deadlines</li>
  <li>copy of your resume</li>
  <li>brag sheet responses</li>
  <li>parent brag sheet responses</li>
  <li>teacher interaction sheet (class highlights page)</li>
  <li>any other related documents</li>
  <li>stamped, addressed envelopes (if applicable).</li>
</ul>

<p>Most LASA teachers and all LASA counselors use Naviance to send your materials to your schools. There are a few exceptions, e.g. Davis and B. Browne. Since they mail everything, you must provide them with forms and envelopes for all of your schools. </p>

<p>In the fall of your senior year, the recommendation request option will be available in Naviance. At that time, you will be given instructions to add your teachers and counselors in the system so they, in turn, may send documents on your behalf electronically via Naviance. </p>

<h5>How much time should I give to my recommendation writers?</h5>

<p>Please give your teacher, counselor, or college counselor a minimum of 2 - 3 working weeks (not calendar weeks) before the deadline to complete their part of your application. This is especially true for December 1 deadlines (Thanksgiving holidays fall before this due date) and January 1 deadlines (winter holiday break falls before this due date).</p>

<h5>What are you looking for exactly in my brag sheet responses? </h5>

<p>Students-this shouldn't be cause for stress. Think about it as good practice for your college application essays. We're especially looking for things that won't already be presented in your application. We want to provide a new, interesting glimpse of you as a student and individual. Parents-this is your chance to brag, brag, brag since most students tend to be pretty modest in their responses. We love the brag sheets, especially parent brag sheets. Give us lots of examples and anecdotes; they make your letters come to life! </p>

<h4>Financial Aid</h4>

<h5>What does the FAFSA stand for?</h5>

<p>Free Application for Federal Student Aid-note the word "free". Never pay to complete the FAFSA. Stay away from sites like fafsa.com that charge you to complete the application...this is a scam. After all, what's not 'free' about 'free' application?  The official FAFSA site is: fafsa.gov. Use only this site to complete the FAFSA. </p>

<h5>When do students apply for financial aid?</h5>

<p>Students apply for financial aid during their senior year. The FAFSA is available January 1st of the senior year. CSS/PROFILE is typically available October 1st of the senior year - early decision and select early action schools may require this by November 15; all others don't need it until sometime in February--check college websites for specific dates.</p>

<h5>What's the difference between the FAFSA and the CSS/PROFILE?</h5>

<p>The FAFSA is the federal application a family completes to determine eligibility for need-based aid, i.e. grants, loans, and work-study. The CSS/PROFILE, required only by a select group of schools, determines a family's eligibility for need-based institutional (grant) money provided by the college itself. The CSS/PROFILE is a much more comprehensive document asking more detailed information than the FAFSA. Also, where the FAFSA is free, the PROFILE is not. The initial set-up and first school application costs $25; each application after that is $16. One more thing: the FAFSA only asks for the custodial parent information; the CSS/PROFILE usually asks for both parents regardless of which parent the student lives with.  </p>

<h5>I'm an undocumented student (non-citizen). Can I apply for financial aid? </h5>

<p>Undocumented students are not eligible to complete the FAFSA, but if planning to attend a college in Texas, you may complete the Texas Application for State Financial Aid (TASFA), which may qualify you for state-funded grants (free money) like the TEXAS Grant at public universities or the Tuition Equalization Grant (TEG) at private universities. As a Texas resident, you are also eligible to pay in-state tuition costs. The TASFA is a paper application available in January of the senior year. See Ms. Kocian for a copy or go to this website: http://collegeforalltexans.com. There are also a number of scholarships which don't require citizenship to apply. See Ms. Kocian for a full list. </p>

<h5>How do I know which application my school accepts? </h5>

<p>All schools accept the FAFSA if you are applying for need-based aid. A list of the schools requesting the CSS/PROFILE is available on the College Board website: https://profileonline.collegeboard.com. If a school requests the CSS/PROFILE, they almost always want you to submit the FAFSA as well.</p>

<h5>We got our EFC from the FAFSA. What does this mean?</h5>

<p>When you submit the FAFSA, an Expected Family Contribution (EFC) is calculated. Your family's taxed and untaxed income, assets, and benefits (such as unemployment or Social Security) are all considered in the formula. Also considered are your family size and the number of family members who will attend college during the year. Schools use the EFC to determine your federal student aid eligibility and financial aid award. The general rule is that the closer the number is to zero, the more need-based aid a student will receive. Note: Your EFC is not the amount of money your family will have to pay for college nor is it the amount of federal student aid you will receive. It is a number used by your school to calculate the amount of federal student aid you are eligible to receive. </p>

<h5>We make too much money to qualify for need-based financial aid. Do we still have to fill out the FAFSA? </h5>

<p>No, there is rule saying you have to apply. If you don't apply, the only aid available will be merit-based scholarships (fingers crossed) and perhaps a parent loan. If applying to a private college, it is recommended that you fill out the FAFSA and CSS/PROFILE (at least the first year) because those schools are known for offering more money than public institutions. </p>

<h5>What happens once I apply for financial aid as a senior? </h5>

<p>To receive a financial aid award, a student must first be accepted to the college. And even then, most students won't receive their aid letters until sometime in March (rolling admissions) or April (selective admissions) unless applying for early decision and select early action programs. If applying early decision, the student will receive their tentative financial aid award at the same time they receive an acceptance letter.</p>

<h5>I'm thinking of applying early decision to my dream college. What does my financial aid timeline look like?</h5>

<p>If applying early decision, you are usually required to submit your financial aid application (CSS/PROFILE or comparable school form) by November 15. If accepted, you will receive the financial aid award at the same time you are notified of your acceptance (mid-December). If the financial aid works for your family, you're essentially done once you accept the award and pay your enrollment deposit. Since early decision is a binding agreement, you do not have the option of applying to other schools and comparing financial aid awards. </p>
{% endblock %}
