{% extends "layout.html" %}
{% block body %}

<h2>Naviance</h2>

<p>LASA is pleased to offer Family Connection by Naviance, a comprehensive website that allows students and parents the opportunity to investigate, research, plan for, and manage the college admissions process as well as research careers and corresponding majors.</p>

Through Naviance-Family Connection, you can:

<ul>
  <li>Keep track of the admissions process - build a resume, complete on-line surveys, manage timelines and deadlines for the college admissions process, and request transcripts to be sent to colleges or scholarship donors</li>
  <li>Research colleges - search for colleges based on criteria that you select</li>
  <li>Sign up for college info sessions (juniors and seniors only) - review which schools are visiting LASA, sign up, and receive reminders</li>
  <li>Research careers based on your interests via the personality assessment "Do What You Are"</li>
  <li>View local and regional scholarships</li>
  <li>Receive updates about campus news and events (Look under Updates on your Naviance homepage to view news bulletins)</li>
</ul>

<p>For seniors, this tool is critical in facilitating the college application process as we are now able to send transcripts and letters of recommendation electronically through Naviance to Common Application member schools.</p>

<p>Parents may also create an account that will be linked to their students record.  Contact Ms. Kocian at jamie.kocian@austinisd.org to receive your temporary access code.</p>

<p>We hope that you will find this resource helpful. If you have questions about Naviance-Family Connection, please feel free to contact Ms. Kocian, College Counselor, at 512-414-1903 or jamie.kocian@austinisd.org.</p>

<p>GUESTS to the site may log in with limited feature access with the following password: aisd</p>
{% endblock %}
