{% extends "layout.html" %}
{% block body %}
<h2>College information sessions</h2>
<p>Juniors and seniors can sign up to attend information sessions held on our campus <a href="http://connection.naviance.com/lasa" target="_blank">through their personal Naviance account</a>. Students are allowed to attend up to seven information sessions in the fall. There will be a limited number of sessions offered in the spring (primarily for juniors).</p>

<p>To view the most up-to-date list of colleges visiting LASA and to RSVP for a session, go to Naviance, click on the Colleges tab and then 'view all upcoming college visits'. Once you RSVP, you will receive an email reminder 24 hours before the visit. Students need to come by the main office the day of the scheduled visit to pick up their pass. There may be other events included in the visit schedule that you can sign up for, such free practice SAT events or essay workshops.</p>
{% endblock %}
