{% extends "layout.html" %}
{% block body %}
<h2>Standardized Testing</h2>
<p>Standardized testing is an important factor in admissions decisions at most selective colleges and universities. A few institutions have downplayed the importance of scores, and some have eliminated test requirements entirely, but those institutions are in the minority. At most colleges standardized testing still matters. </p>

<p>We want our students to understand the testing requirements and, just as importantly, to keep testing in perspective. Students' academic achievement is more important than test scores, both in terms of acquiring a first-rate education and in terms of enhancing their chances of admission to selective institutions.</p>

<h4>SAT Reasoning Test</h4>
<p>The SAT Reasoning Test is primarily a multiple-choice test containing verbal and math sections designed to measure critical thinking and problem-solving abilities. Colleges and universities use the test as a "standard" measure when evaluating your credentials during the admissions process. In general, taking the test more than three times is not helpful. Most highly selective colleges will focus on your best verbal score and math score, even if they are achieved on different days. The College Board offers online registration at <a href="http://www.collegeboard.com" target="_blank">www.collegeboard.com.</a></p>


<p>Note: If you took the SAT through the Duke TIP Talent Search program in 7th grade, you may encounter this message when trying to register for the SAT: "You have not entered a "Previous Registration Number" and/or "Previous Testing Date", but our records indicate that you have registered for an SAT in the past. Please enter a "Previous Registration Number" and "Previous Testing Date" from one of your past SAT Admissions Tickets or Score Reports." This means that College Board is still recognizing your registration from 7th grade. To proceed with the registration process, you will need to call College Board Customer Support at 866-756-7346 (available M-F, 7am - 8pm) and explain the situation so they can reset your account information.</p>


<h4>SAT Subject Tests</h4>
<p>SAT Subject Tests are one-hour, primarily multiple-choice tests designed to measure knowledge in a particular subjects and the application of that knowledge. There are twenty-two subject areas. Some colleges may require SAT Subject Tests in addition to the SAT Reasoning Test and/or the ACT. Most colleges that require the SAT Subject Tests insist that students take either the Math Level I or the Math Level II and one additional test left to the discretion of the student. These scores are used as part of the admissions process and for placement after admission is offered. Requirements, including "how many" and "which" tests should be taken, differ from institution to institution. The College Board offers online registration at www.collegeboard.com.</p>

<p>LASA students typically take three SAT Subject Tests in either May or June of their junior year; and, depending upon their performance, they retake one to three more tests in October, November or December of their senior year.</p>

<h4>ACT</h4>
<p>ACT is a battery, which combines elements of aptitude and achievement test in one single instrument. Like the SAT Reasoning Test, the ACT helps predict academic achievement in college and serves as a standard measure by which students from diverse educational backgrounds can be compared. The ACT is a content-based multiple-choice test with four sections: English, reading comprehension, mathematics and science reasoning. Students receive a score for each section as well as a composite score ranging from one to 36.</p>

<p>The ACT focuses more on grammar, punctuation and general comprehension than the SAT. It is recommended that, if possible, students take both the SAT and ACT. The ACT offers online registration at <a href="http://www.actstudent.org" target="_blank">www.actstudent.org</a>.</p>
{% endblock %}
