{% extends "layout.html" %}
{% block body %}
<h2>College Visits</h2>

<p>Juniors and seniors: don't forget to check your Naviance account to see which colleges are visiting LASA this fall. To RSVP for a college info session, <a href="http://connection.naviance.com/lasa" target="_blank">access Naviance</a>, click on the Colleges tab, and click on 'view all upcoming college visits'. Students are allowed to attend up to seven info sessions in the fall semester.</p>

<h4>Links:</h4>
<ul>
  <li><a href="/college/sessions">College information sessions</a></li>
  <li><a href="/college/reps">For college admissions representatives</a></li>
  <li><a href="http://www.screencast.com/t/NWqijqGZxY" target="_blank">Naviance how-to videos</a></li>
  <li><a href="/college/testing">Standardized testing</a></li>
  <li><a href="/college/faq">FAQ</a></li>
  <li><a href="/college/aid">Financial Aid</a></li>
  <li><a href="/college/naviance">Naviance</a></li>
</ul>
{% endblock %}
