{% extends "layout.html" %}
{% block body %}
<h2>Contact</h2>

<h4>Telephone</h4>

Main Office: (512)-414-5272<br>
Main Fax Number: (512)-414-6050

<h4>Directions</h4> 

<p>LASA (Liberal Arts and Science Academy of Austin) is located in east Austin near the intersection of Highway 290 and Highway 183.</p>

<p>From HWY 183 take Springdale Road, go east.  Turn right on to Pecan Brook and follow Pecan Brook past the Delco center and a couple of blocks to Lazy Creek.  LASA will be on the left.</p>

<p>From Hwy 290, turn on to Springdale Road, southwest, or Tuscany Road southwest and continue to the light at Pecan Brook.  Take a left turn and continue on Pecan Brook past the Delco center and a couple of neighborhood blocks to Lazy Creek.  LASA will be on the left.</p>

7309 Lazy Creek Dr, Austin, TX 78724<br>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-97.71343231201172%2C30.280638628316673%2C-97.60047912597656%2C30.347768779868215&amp;layer=mapnik&amp;marker=30.314209452465885%2C-97.65695571899413" style="border: 1px solid black"></iframe>

{% endblock %}
