{% extends "layout.html" %}
{% block body %}
<h2>LASA Course Guide</h2>

<p>LASA offers a wide array of courses in each discipline.  The courses themselves are aligned to the Texas Essential Knowledge and Skills, to College Board standards, to national standards (e.g., NCTE, NCTM, etc.), and, in the case of some courses that are offered nowhere else but LASA, to the innovative curriculum standards that have been approved by the Texas Education Agency.</p>  

<p>The information on this page is designed to help students make the correct choices based on what is available and submit their course requests through Naviance to submit these choices.</p>

<p><b><a target="_blank" href="http://images.pcmac.org/SiSFiles/SCHOOLS/TX/AustinISDTX/LiberalArts/Uploads/Presentations/16-17_Course_Guide_816.pdf">Course Guide</a></b></p>

<p>Both students and families should use this course guide to get accurate information and make choices about course plans.  Below is a list of topics covered in the course guide:</p>

<ul>
    <li>Class Rank</li>
    <li>Credit By Exam</li>
    <li>GPA (Grade Point Average</li>
    <li>Level Changes</li>
    <li>Off Campus PE Waivers</li>
    <li>Pass/Fail Courses</li>
    <li>Pre-AP and AP Courses</li>
    <li>Schedule Changes</li>
    <li>Weighted and Un-weighted Courses</li>
    <li>Graduation Plan: Class of 2016, 2017, and 2018</li>
    <li>Course Offerings with Descriptions (English Math, Science, Social Studies, CTE, and Signature Courses</li>
    <li>Complete List of LASA Course Offerings</li>
</ul>
{% endblock %}
