{% extends "layout.html" %}
{% block body %}

<div class="form-label">Edit Page</div>
<br/>
<br/>
<div>
	<form method="post">
		{{form.csrf_token}}

		{{form.title.label}} <br/>
		{{form.title()|safe}} <br/>
		<div class="error">{{form.title.errors[0]}}</div>
	    <br/>

        {{form.category.label}} <br/>
        {{form.category()|safe}}<br/>
        <div class="error">{{form.category.errors[0]}}</div>
        {{form.divider_below()|safe}} {{form.divider_below.label}}
        <br/>
        <br/>
        {{form.index.label}} <br/>
        {{form.index()|safe}} <br/>
        <div class="error">{{form.index.errors[0]}}</div>
        <br/>

		{{form.body.label}} <br/>
		{{form.body()|safe}}

		<input type="button" value="Submit" class="submit-btn" onclick="doSubmit()">

        {{form.bodyhtml}}

	</form>
</div>

{% endblock %}
