{% extends "layout.html" %}
{% block body %}

<h2>LASA {{title}}</h2>

<p>Click on a faculty member's name to access their individual website.</p>

<table class="table">
<tr>
    <th>Name</th>
    <th>Position</th>
    <th>Phone</th>
    <th>Email</th>
</tr>

{% for member in faculty %}

<tr>
    <td>
        {% if member.website %}
        <a target="_blank" href="{{member.website}}">{{member.firstname}} {{member.lastname}}</a>
        {% else %}
        {{member.firstname}} {{member.lastname}}
        {% endif %}
    </td>
    <td>{{member.occupation}}</td>
    <td>{{member.tel}}</td>
    <td><a href="mailto:{{member.email}}">{{member.email}}</a>
</tr>

{% endfor %}

</table>

{% endblock %}
