{% extends "layout.html" %}
{% block body %}

<h2>Fine Arts</h2>

<p>LASA provides an extensive range of dynamic and stimulating opportunities for all students interested in the visual and performing arts. The Band, Orchestra, Choir, Dance, Theater and Journalism programs are in conducted in partnership with LBJ High School.</p>

<p>The Don T. Haynes Theater, LBJ and LASA's performing arts facility that opened in fall 2008, is the performance theater for the Band, Orchestra, Dance and Choir programs and is home base to the Alley Cat Players.</p>

<br/>
<h4>Band</h4>

<p>The LASA/LBJ Band is rich in tradition and highly respected as one of the finest band programs in Texas. This proud program has represented Texas in places as far away as London, Paris and Beijing and has won top festival awards in six different states. The pursuit of musical excellence on the marching field, in the jazz arena, and in the concert hall by the 220+ member Jaguar Band has become legendary. Members find that making great music and making great friends go hand in hand.</p>

<p>The Austin Chamber Music Center provides an enrichment program with emphasis on chamber music and performance. The chamber music staff are local professional musicians who present major ensemble works to the advanced bane members in each band class. Students then get the opportunity to work together as a chamber ensemble and rehearse and perform a chamber music piece.</p>

<p>The Band program offers a private lesson program on campus. To assist our students, Austins finest music teachers are invited to come to LBJ and teach the interested members during band class or after school.</p>

<p>The LBJ Band places great value in the music educational experience when planning its annual spring band trip. The Band travels enhance the development of its students from an historic perspective, as well as rewarding them musically. In 2009, the Band will travel to New York City to perform and take in the citys many sights.</p>

<p>In addition to the Marching Band, there is a Concert Band, Symphonic Band and Wind Ensemble, all under the leadership of Director Don Haynes, dhaynes[at]austinisd.org, (512) 414-7032. Other Band instructors include: Brian Burks, Assistant Director; Ponder East, Director of Jazz Studies; Tyler Dempsey, Director of Percussion; Fernando Hernandez, Colorguard Director; Katie Jordan, Assistant Colorguard Director; and Nate Ward, Assistant Percussion Director.</p>

<p>For more information, visit the <a target="_blank" href="lbjband.org">LBJ Band website.</a></p>


<br/>
<h4>Jazz Band</h4>

<p>The Jazz Bands perform on campus, at local events, and in jazz festivals around Texas. The Jazz Bands regularly receive top finishes at the jazz festivals of TCU, Temple, Texas State, Tarleton, among others. Many students from the LBJ Jazz Band have gone on to major in music at some of the best music schools in the country including Berkeley College of Music in Boston, University of North Texas, New England Conservatory, Oberlin and the University of Texas.</p>

<p> During the school day, there is the Jazz Ensemble/Combo, which alternates between rehearsing big band music and small combo music. This class is for Juniors and Seniors. After school on Wednesdays, there is the Stage Band, which rehearses big band music of many different styles. This group is for Freshmen and Sophomores.</p>


<br/>
<h4>Orchestra</h4>

<p>Orchestra offerings at LASA/LBJ provide learning and performing opportunities for students of all levels. Character, personal growth, and unforgettable relationships are just a few of the benefits of choosing to join the orchestra.</p>

<p>There are three Orchestras &mdash; Symphonic, Philharmonic and Camerata &mdash; which perform regular concerts and provide chamber ensembles at extra-curricular events. The Camerata Orchestra often features collaborations with professional soloists in its concerts. Some of the more recent soloists have included: the principal strings of the Austin Symphony; violinist Robert Rudie; Baroque Ensemble; and organists Ken Womer, Scott McNulty, and Erich Melenbruch.</p>


<br/>
<h4>Dance</h4>

<p>Students in Dance I will learn basic techniques for all types of dance, with a specific focus on ballet, jazz, social dance, and precision dance. Students also have the opportunity to choreograph using both learned techniques and their own personal dance experiences.</p>

<p>Dance II-IV is a continuation of Dance I, in which more techniques are developed and the basics are further refined, with a greater focus on a student choreography. There may be a performance opportunity at the end of each semester for parents and peers where dance students are able to display the results of their hard work and creativity.</p>


<br/>
<h4>Theater</h4>

<p>The Alley Cat Players, LBJ and LASA's extracurricular theater troupe, presents several productions a year under the guidance of Theater Arts teacher MJ Alexander. Students may elect to study acting in Theater I or stagecraft in Technical Theater I first, followed by Advanced Theater classes in subsequent years. Many Alley Cat productions hold open auditions for all LBJ and LASA students, while others are staffed from theater classes.</p>

<p>Past productions include a post-apocalyptic version of Midsummer's Night Dream, the rocking musical Footloose, Arthur Miller's After the Fall, and Dark of the Moon, a 1940's play written by Howard Richardson and William Berney.</p>


<br/>
<h4>Visual Arts</h4>

<p>The LASA Art Department prides itself on interdisciplinary projects and the application of design to real-world projects. The curriculum has been designed specifically for LASA students and truly blends science with art. The Elements and Principles of Design remain the foundation of reference; however, emphasis is placed upon stylistic interpretation and manipulation, providing for a truly tangible studio experience.</p>

<p>All Visual art students begin in Art 1 which emphasizes design and problem solving in it's curriculum. After Art 1 students have the opportunity to move straight into the honors weighted Drawing 3, Painting 3, Ceramics 3 and Sculpture 3 classes. After passing a portfolio review, students may take one or more of the AP Studio Art classes.</p>

<p>We hope to offer Printmaking and Fiber art classes in the future.</p>

<p>All art students participate in the East Austin Studio Tour by interviewing artists and writing a reaction paper in which they draw their own conclusions about the Austin art scene. Student work is also featured in the Youth Art Month display downtown each March and during select concerts and at LASA Coffeehouse. We also maintain three display cases of artwork in the science wing that features a rotating display of current student work.</p>


<br/>
<h4>Journalism</h4>

<p>The Liberator, LASA/LBJ's award winning newspaper, is known across the nation for its excellence by both the scholastic and professional press. In the last six years, The Liberator has garnered many top national awards, including the Pacemaker (the Pulitzer Prize of high school journalism), the Gold Crown Press Association, and 2005 First Place Best in Show given by the National Scholastic Press Association at the national high school journalism convention. Top state awards include Gold Stars, the top award given by the Interscholastic League Press Conference, as well as top awards in individual competitions in UIL.</p>

<p>The paper is entirely student run; the staff makes all writing, photography, design and content decisions.</p>

<p>The yearbook, STETSON, is chosen yearly to appear in the Taylor Publishing Company's prestigious book, The Yearbook, which includes the top five percent of the 7,500 yearbooks they publish.</p>

{% endblock %}
