{% extends "layout.html" %}
{% block body %}

<h2>LASA's School History</h2>

<p>The Liberal Arts and Science Academy (LASA) of the Austin Independent School District (AISD) became its own high school in 2007, but the origins of LASA have a much longer history.</p>

<p>In the mid-1980s, the business community came together to ask AISD for a magnet high school that would increase the skills of its graduates to prepare them for work in Austin industries such as IBM, Tracor, and Texas Instruments.  As a result, the Science Academy (SA) was created on the LBJ high school campus in 1985. In addition to increasing academic rigor for students, the program helped address de-segregation, busing and student population issues facing AISD at that time.</p> 

<p>"In the early years of the SA, we were a showcase to demonstrate how a magnet program could work to improve student skills," asserts David Journeay, LASA science department chair and an LBJ teacher when the academy opened. "We were constantly visited by people from Washington, D.C., Japan and districts around the country."</p>

<p>The Liberal Arts Academy (LAA) was created in 1988, on the campus of then-Johnston High School as a liberal arts complement to the Science Academy. "The LAA was envisioned as a magnet program focusing on the literary arts, with an attempt to connect the humanities in a real way," states Maricruz Aguayo-Tabor, who taught at the LAA and who is now LASA social studies department chair.</p>

<p>In 2002, the two magnet programs, LAA and SA, were combined on the LBJ campus based on a recommendation by a trustee-appointed committee, creating LASA. An academic benefit to combining the two magnet programs is that it helped produce "students who are skilled in all academic areas," says Mo Harry, LASA English department chair. Still a magnet program within LBJ, students and teachers of both LBJ and LASA were integrated physically and, in some cases, academically. Magnet students could opt to take some non-magnet core courses, and many of the electives were offered jointly. All students on the campus were LBJ Jaguars for UIL purposes, competing as one in sports, band, orchestra, theater and choir competitions.</p>

<p>A major shift occurred in 2007, when then-Superintendent Pat Forgione announced  the creation of LASA as a separate high school. Primarily, the decision was made so that the district could receive a $2 million grant from the Gates Foundation for academic improvements for LBJ students. This grant required separate accountability for LBJ and LASA on testing data as well as "geographic specificity" of students.</p>

<p>While LASA continues to share the campus with LBJ, it now has a separate administration, staff and schedule. The two schools share some resources, such as the library and cafeteria, and some classes, such as theater and journalism.  In addition, the students of both schools still compete together for UIL events.</p>

<p>When the school split occurred, "students, teachers, and parents were anxious about some of the changes, including the change to a block schedule.  However, we have embraced those challenges and found different ways to foster our students' intellectual curiosity and to make the LASA experience even better," asserts Tara Spence, LASA math department chair. Now that students are required to strive to meet challenges in all academic disciplines, LASA has become a stronger program and its students have become better prepared for future endeavors than ever before.</p>

<p>In the years since LASA became its own high school, it has enjoyed many successes. LASA is the only exemplary four-year high school in AISD and consistently ranks in the top 10% of Newsweek's top 500 high schools in America. Students frequently earn national recognition in academic, athletic and artistic endeavors. The program continues to attract the best and brightest students and staff in Central Texas.</p>

{% endblock %}
