{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-8">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a target="_blank" href="{{slides[0].url}}"><img src="{{slides[0].image_url}}"/></a>
                </div>
                {% for slide in slides[1:] %}
                <div class="item">
                    <a target="_blank" href="{{slide.url}}"><img src="{{slide.image_url}}"/></a>
                </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>

        <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lasawebmaster%40gmail.com&amp;color=%23691426&amp;src=aq61mgj5p5v16v00l1228n3a4s%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FChicago" style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>

        <a class="twitter-timeline"  href="https://twitter.com/lasahighschool" data-widget-id="652680685455454209">Tweets by @lasahighschool</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
    <div class="col-sm-4">
        <div class="schedules-widget">
            <iframe scrolling="no" width="100%" height="490" frameborder="0" src="/static/schedules-widget/index.html"></iframe>
        </div>
        <br/>
        <div class="news-box">
            <div id="box-title"><a href="/news" style="text-decoration:none; color:gray">Latest News</a></div>
            <div class="news-items">
                <ul class="news-list">
                    {% for post in posts %}
                    <li><a href="/news?postid={{post.id_}}">{{post.title}}</a></li>
                    <hr class="news-divider">
                    {% endfor %}
                </ul>
            </div>
            <a href="/news" style="text-decoration:none"><div id="news-footer">Read more &raquo;</div></a>
        </div>
    </div>
</div>

{% endblock %}
