{% extends "layout.html" %}
{% block body %}

<iframe frameborder="1" height="685" scrolling="no" src="https://www.google.com/calendar/embed?title=LASA%20Quick Calendar&amp;mode=AGENDA&amp;height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=lasawebmaster%40gmail.com&amp;color=%23711616&amp;src=aq61mgj5p5v16v00l1228n3a4s%40group.calendar.google.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FChicago&widget=false" style="border-width: 0;" width="250"></iframe>

{% endblock %}
