<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=1024">
    {% if title %}
    <title>{{ title }} - Liberal Arts and Science Academy</title>
    {% else %}
    <title>Liberal Arts and Science Academy</title>
    {% endif %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel=stylesheet></link>
    <link rel='shortcut icon' href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/ >
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Playfair+Display:400,700,900" />
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Titillium:400">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400,400i">
  </head>
  <body style="background-image:url({{ url_for('static', filename='images/background.jpg') }})">
    
    <div class="top-bar-wrapper">
      <div id="top-banner">
        <!--<img id="jaguar" src="{{ url_for('static', filename='images/jaguar.png') }}"/>-->
        <div id="title-text-wrapper">
          <span class="title-text">Liberal Arts and Science Academy</span> <br/>
          <span class="subtitle-text">Nurturing Innovation and Curiosity</span>
        </div>
      </div>
      
      <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
      {% if current_user.is_authenticated %}
      <div id="logged-in">{{current_user.name}} (<a href="/logout">logout</a>)</div>
      {% endif %}
      <nav class="navbar">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li id="home-link"><a class="dropdown-toggle" href="/"><span class="glyphicon glyphicon-home"></span></a></li>

	    <li class="dropdown">
              <a class="dropdown-toggle"><span class="glyphicon glyphicon-calendar"></span></a>
              <ul class="dropdown-menu">
		<li><a href="/schedule">Bell Schedules</a></li>
		<li class="divider"></li>
		<li><a href="/calendar">Master Calendar</a></li>
                <li><a href="/calendar/college">College Counselor Events</a></li>
                <li><a href="/calendar/athletic">Athletic Events</a></li>
                <li><a href="/calendar/library">Campus Library Calendar</a></li>
              </ul>
            </li>

	    <li class="dropdown">
              <a class="dropdown-toggle">About Us</a>
              <ul class="dropdown-menu">
		<li><a href="/accolades">Accolades</a></li>
		<li><a href="/mission">Mission and Vision</a></li>
                <li><a href="/profile">School Profile</a></li>
                <li><a href="/history">School History</a></li>
                <li class="divider"></li>
                <li><a href="/contact">Contact and Directions</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle">Academics</a>
              <ul class="dropdown-menu">
                <li><a href="/probation">Academic Probation</a>
                <li><a href="/college">College Counseling</a>
                <li><a href="/courseguide">Course Guide</a>
                <li><a href="/honorcode">Honor Code</a>
                <li><a href="/magnetendorsement">Magnet Endorsement</a>
                <li class="divider"></li>
                <li class="dropdown-header">Departments</li>
                <li><a href="http://lasacs.com" target="_blank">Computer Science</a></li>
                <li><a href="/finearts">Fine Arts</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle">Students</a>
              <ul class="dropdown-menu">
                <li><a href="#">Clubs and Organizations</a></li>
                <li><a target="_blank" href="{{url_for('static', filename='documents/2016-2017_Student_Handbook-Final.pdf')}}">Handbook</a></li>
                <li><a target="_blank" href="https://docs.google.com/document/d/18SepSLa2qFxqihF15YgCwn5mGKvc-JbjmolhViQjaRU/edit?ts=57bb436b">Homeroom Schedule</a></li>
                <li><a target="_blank" href="{{url_for('static', filename='documents/ParkingPermit.pdf')}}">Parking Application</a></li>
                <li><a href="/ranking">Student Ranking</a></li>	
                <li><a href="/wellness">Wellness Counseling</a></li>
                <li><a href="/service">Service Learning</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle">Parents</a>
              <ul class="dropdown-menu">
                <li><a href="#">FAQs</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">PFLASA</li>
                <li><a href="#">PFLASA</a></li>
                <li><a href="#">PFLASA Forms</a></li>
                <li><a href="#">PFLASA Meetings</a></li>
                <li><a href="#">Support PFLASA</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Stay in Touch</li>
                <li><a href="#">Campus Advisory Council</a></li>
                <li><a href="#">Lots of LASA</a></li>
                <li><a href="#">PFLASA Stay Connected</a></li>
                <li class="divider"></li>
                <li><a href="#">PTSA</a></li>
                <li><a href="#">Transporation</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle">Faculty</a>
              <ul class="dropdown-menu">
                <li><a href="/administration">Administration</a></li>
                <li><a href="/guidance">Guidance and Counseling</a></li>
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/support">Support Staff</a></li>
                <li><a href="/faculty">All Faculty</a></li>
                <li class="divider"></li>
                <li><a href="/message">Principal's Message</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle">Admissions</a>
              <ul class="dropdown-menu">
                <li><a href="/howtoapply">How to Apply</a></li>
                <li><a target="_blank" href="{{url_for('static', filename='documents/recruitment_calendar.pdf')}}">Recruitment Calendar</a></li>
                <li><a href="/shadowing">Shadowing</a></li>
                <li class="divider"></li>
                <li><a href="/coursefaq">Course FAQs</a></li>
                <li><a href="/signature">Signature Courses</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <div class="body-column">
      {% block body %} {% endblock %}
    </div>
    <div class="external-links">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">External Links</a>
            </h6>
          </div>
          <div id="collapse1" class="panel-collapse in">
            <div class="panel-body"><a href="https://my.austinisd.org/" target="_blank"><span class="glyphicon glyphicon-cloud"></span> AISD Cloud</a></div>
            <div class="panel-body"><a href="https://www.austinisd.org/technology/parents-guardians/student-registration" target="_blank"><span class="glyphicon glyphicon-pencil"></span> AISD Online Student Registration</div>
            <div class="panel-body"><a href="https://connection.naviance.com/family-connection/auth/login/?hsid=lasa" target="_blank"><span class="glyphicon glyphicon-signal"></span> LASA Naviance</a></div>
            <div class="panel-body"><a href="http://www.pflasa.org/" target="_blank"><a href="https://connection.naviance.com/family-connection/auth/login/?hsid=lasa" target="_blank"><span class="glyphicon glyphicon-user"></span> Parents and Friends of LASA (PFLASA)</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-sm-6">

          <div class="footer-tel-label"><span class="footer-text">Main Office:&nbsp;</span></div><br/>
          <span class="footer-text">(512) 414-5272</span><br>
          <div class="footer-tel-label"><span class="footer-text">Main Fax:&nbsp;</span></div><br/>
          <span class="footer-text">(512) 414-6050</span>
        </div>
        <div class="col-sm-6" style="text-align:right">
          <span class="footer-text"><a href="https://www.google.com/maps/place/Liberal+Arts+and+Science+Academy/@30.3130486,-97.6588788,17z" target="_blank">7309 Lazy Creek Drive Suite 225, Austin, TX 78724</a></span><br>
	  			<hr class="dotted-rule">
          <span class="footer-text">Copyright © 2016 Liberal Arts and Science Academy</span><br />
          <span class= "footer-text"><a href="https://goo.gl/forms/PtidvnusKOdIJVVE2" target="_blank">Report an issue</a></span> | <span class= "footer-text"><a href="https://github.com/lasa/website" target="_blank">Source code</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
