<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if title %}
      <title>{{ title }} - Liberal Arts and Science Academy</title>
    {% else %}
      <title>Liberal Arts and Science Academy</title>
    {% endif %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel=stylesheet></link>
    <link rel='shortcut icon' href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/ >
  </head>
  <body style="background-image:url({{ url_for('static', filename='images/lowpolybg.jpg') }})">
    
    <div class="top-bar-wrapper">
      <div id="top-banner">
        <div id="header-wrapper">
          <div id="title-text-wrapper">
            <span class="title-text">Liberal Arts and Science Academy</span> <br/>
            <span class="subtitle-text">Nurturing Innovation and Curiosity</span>
          </div>
          <img id="jaguar" src="{{ url_for('static', filename='images/jaguar.png') }}"/>
        </div>
      </div>
      
      <div id="logo-wrapper">
        <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
      </div>
      <nav class="navbar">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown" id="home-button"><a class="dropdown-toggle" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle">About Us</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle">Academics</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle">Students</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle">Parents</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle">Faculty</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle">Admissions</a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="body-column">
      {% block body %} {% endblock %}
    </div>
    <div class="external-links">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">External Links</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse">
            <div class="panel-body"><a href="https://my.austinisd.org/" target="_blank">AISD Cloud</a></div>
            <div class="panel-body"><a href="https://www.austinisd.org/technology/parents-guardians/student-registration" target="_blank">AISD Online Student Registration</div>
            <div class="panel-body"><a href="https://connection.naviance.com/family-connection/auth/login/?hsid=lasa" target="_blank">LASA Naviance</div>
            <div class="panel-body"><a href="http://www.pflasa.org/" target="_blank">Parents and Friends of LASA (PFLASA)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-sm-6">
          <span id="footer-contact-title">The Liberal Arts and Science Academy</span><br><br>
          <span class="footer-contact-head">Main Office</span><br>
          <span class="footer-contact-main">(512) 414-5272</span><br>
          <span class="footer-contact-subhead">Fax</span><br>
          <span class="footer-contact-secondary">(512) 414-6050</span><br>
        </div>
        <div class="col-sm-6" style="text-align:right">
          <span class="footer-contact-head">Where to Find Us</span><br>
          <span class="footer-contact-secondary"><a href="https://www.google.com/maps/place/Liberal+Arts+and+Science+Academy/@30.3130486,-97.6588788,17z/data=!3m1!4b1!4m5!3m4!1s0x8644c9d2ee75f905:0x45a68fd045a219b0!8m2!3d30.313044!4d-97.6566901" target="_blank">7309 Lazy Creek Drive Suite 225, Austin, TX 78724</a></span><br>
          <hr class="dotted-rule">
          <span id="copyright">Copyright © 2016 Liberal Arts and Science Academy</span><br />
          <span id="copyright"><small><a href="mailto:fred.cutler@austinisd.org" target="_blank">Contact the Webmaster</a></small></span><br />
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lasa.us" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </body>
</html>