{% extends "layout.html" %}
{% block body %}

<h2 class="post-title" style="border-bottom:0px">Manage Navigation Bar Links</h2>
<div class="edit-delete">
    <a href="/newlink">new link</a>
</div>

<p>The following are links that appear in the navigation bar and open in a new tab when clicked.</p>
{% for category in pages %}

{% for page in pages[category] if not 'Link' in page.__class__|string %}
  {% if pages[category].remove(page) %} {% endif %}
{% endfor %}

{% if pages[category]|length > 0 %}
  <h4>{{category}}:</h4>

{% for page in pages[category] %}
<div class="news-item">
	<a class="news-item-link" target="_blank" href="{{page.url}}">{{page.title}}</a> &nbsp;{{page.url}}
    <div class="edit-delete">
    <a href="/editlink?id={{page.id_}}">edit</a> | 
    <a href="/dellink?id={{page.id_}}">delete</a>
    </div>
</div>
{% endfor %}
{% endif %}

{% endfor %}


{% endblock %}
