{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block body %}

<div class="form-label">Log in</div>
<br/>
<div>
	<form method="post">

		{{form.username.label}} <br/>
		{{form.username()|safe}} <br/>
		<div class="error">{{form.username.errors[0]}}</div> 
		
		{{form.password.label}} <br/>
		{{form.password()|safe}} <br/>
		<div class="error">{{form.password.errors[0]}}</div> 
		

		<input type="submit" value="Log in" class="submit-btn">

	</form>
</div>

{% endblock %}
