{% extends "layout.html" %}
{% block body %}

<h2>LASA Magnet Endorsement</h2>

<p>The Magnet Endorsement signifies that students have gone above and beyond the state and district requirements for graduation.</p>

<p>To receive the LASA Magnet Endorsement a student must complete:</p>

<ul>
    <li>All four signature courses</li>
    <li>Up through level 3 of a Language Other Than English</li>
    <li>4 credits of math at LASA, or up through Multivariable Calculus</li>
    <li>4 credits of English to include English 1, and 2, AP English 3, and AP English 4</li>
    <li>4 credits of Science at LASA to include Biology, Chemistry or AP Chemistry, Physics or AP Physics and an Advanced Science</li>
    <li>4 credits of Social Studies with at least 3 credits received at LASA. Credits must include World Geography and AP World History</li>
    <li>1 credit in technology</li>
</ul>

<h4>Documents:</h4>
<ul>
    <li><a target="_blank" href="http://images.pcmac.org/SiSFiles/Schools/TX/AustinISDTX/LiberalArts/Uploads/DocumentsSubCategories/Documents/Four_Year_Course_Table_2015.pdf">Typical LASA High School Four-Year Plan</a></li>
    <li><a target="_blank" href="http://images.pcmac.org/SiSFiles/Schools/TX/AustinISDTX/LiberalArts/Uploads/DocumentsSubCategories/Documents/Course_Listing_2015-2016_REV1017.docx">Course Listing</a></li>
</ul>

{% endblock %}
