{% extends "layout.html" %}
{% block body %}
<h2>Mission and Vision</h2>

<h4>Mission</h4>
The Liberal Arts and Science Academy cultivates responsible leaders, problem solvers, and thinkers by offering a nationally recognized, rigorous, innovative, evolving curriculum.

The School stands at the forefront of the nationwide effort to produce graduates with exceptional knowledge and skills in English, other languages, mathematics, science, social studies and technology.

An outstanding high school education at the Liberal Arts and Science Academy of Austin (LASA) prepares students for higher education and at the same time encourages them to make a significant contribution to community, state and nation.

<br>
<h4>Vision</h4>
<ul>
  <li>Rigor: The curriculum for every course - Math, English, Science, Social Studies, and Art- is written to go above and beyond state and district standards.</li>
  <li>Community: Students take courses with teachers who are experts in their field and attend classes with students who enjoy the challenge provided by those teachers.</li>
  <li>Inquiry: Many of our courses rely heavily on discussion and seminar style delivery of the course information. Other courses rely heavily on the use, interpretation, and delivery of research.</li>
  <li>Excellence: Teachers, students, and parents recognize that these four years are extremely important. Discussions of college selection, admissions, scholarships, letters of recommendation, and financial aid enter into conversations in the classroom beginning the freshman year.</li>
</ul>
{% endblock %}
