{% extends "layout.html" %}
{% block body %}

<div class="form-label">New Link</div>
<br/>
<br/>
<div>
	<form method="post">
		{{form.csrf_token}}

		{{form.title.label}} <br/>
		{{form.title()|safe}} <br/>
		<div class="error">{{form.title.errors[0]}}</div> 
	    <br/>	

        {{form.category.label}} <br/>
        {{form.category()|safe}} <br/>
        <div class="error">{{form.category.errors[0]}}</div>
        {{form.divider_below()|safe}} {{form.divider_below.label}}
        <br/>
        <br/>
        {{form.index.label}} <br/>
        {{form.index()|safe}} <br/>
        <div class="error">{{form.index.errors[0]}}</div>
        <br/>

		{{form.link_list.label}} {{form.link_list()|safe}} <br/>
		{{form.url.label}} {{form.url()|safe}} <br/>
        <div class="error">{{form.url.errors[0]}}</div>

		<input type="submit" value="Submit" class="submit-btn">

	</form>
</div>

<script>
$(document).ready(function() {
    $("#link_list").on("change", function (e) {
        if (this.value != "none") $("#url").val(this.value);
        });
    });
</script>

{% endblock %}
