{% extends "layout.html" %}
{% block body %}
<h2>Academic Probation Policy</h2>

<p>It is the intent of the LASA Academic Probation Policy to help students reach their full academic potential. Academic Probation is a system of support in which counselors work with students and their parents to create an Individual Academic Plan that will help students be successful at LASA. Individual Academic Plans mayinclude: required tutoring, check-ins with a LASA staff or faculty member, organization and time-management plans, and other supports that meet a student's individualneeds. Plans may be modified during the school year.</p>

<h4>Reasons to be placed on academic probation</h4>
<ul>
<li>Incoming students are placed on academic probation because their application rubric score indicates that they may need support in their transition to LASA</li>

<li>Current LASA students who receive a year-long average below 70 in a core or LOTE class</li>
</ul>
<h4>When a student may be returned to good academic standing</h4>
<ul>
<li>Students may only be removed from academic probation at the end of a school year</li>

<li>Once placed, all students remain on academic probation for a minimum of one school year. In order to return to good academic standing a student must pass allclasses for the year. One exception is if a student fails a class for one semester, but the year-long average in the course is an 80 or higher, than the student willno longer be on academic probation</li>
</ul>
<h4>How to be returned to good academic standing</h4>
<ul>
<li>Students must have a semester average of 70 in all core, LOTE, and signature courses</li>

<li>If a student is on academic probation and the only course they fail is a signature course than the student will remain on academic probation for the followingschool year</li>
</ul>
<h4>What happens if a student remains on academic probation at the end of a school-year</h4>
<ul>
<li>Students who have below 70 in a core or LOTE class will receive a letter that revokes their magnet transfer. Students will be offered the opportunity to request an appeal meeting with the campus Principal.</li>

<li>If an appeal decision allows a student to remain at LASA, and the conditions of the academic probation are not met, the student will have their magnet transfer revoked at the end of the next school year without the opportunity to appeal.</li>
</ul>
{% endblock %}
