{% extends "layout.html" %}
{% block body %}
	<h2>School Profile</h2>
	<h4>Liberal Arts and Science Academy High School</h4>
	<img src="{{ url_for('static', filename='images/students-sitting-and-standing-around-in-parking-lot-with-some-milk-cartons-and-phones.jpg') }}" class="img-thumbnail pull-right" width=250px; />
	<table id="fast-facts">
		<tr>
			<td class="rowhead">Address</td>
			<td>7309 Lazy Creek Drive, Austin, Texas 78724</td>
		</tr>
		<tr>
			<td class="rowhead">Phone</td>
			<td>512-414-LASA</td>
		</tr>
		<tr>
			<td class="rowhead">Fax</td>
			<td>512-414-6050</td>
		</tr>
		<tr>
			<td class="rowhead">School Colors</td>
			<td>7309 Lazy Creek Drive, Austin, Texas 78724</td>
		</tr>
		<tr>
			<td class="rowhead">CEEB Code</td>
			<td>440069</td>
		</tr>
	</table>
	<h4>Information in Brief</h4>
	<h5>Summary</h5>
	<p>The Liberal Arts and Science Academy (LASA) High School is a four-year comprehensive, public, urban, advanced academic magnet high school of 1,122 students. The class of 2017 numbers 251 students. The program recruits the most academically advanced students from public and private middle schools in Austin; as such, admission to LASA is competitive, based on test scores, previous accomplishments and teacher recommendations.</p>
	<h5>History</h5>
	<p>The LBJ Science Academy, Austin's first magnet program, was created in 1985. The Liberal Arts Academy at Johnston High School opened in 1987. The two programs were merged in 2002 and became the Liberal Arts and Science Academy (LASA), housed on the Lyndon Baines Johnson High School campus. In 2007, the school board voted to make LASA its own high school. The two high schools, LASA and LBJ, are housed on the same campus and still share fine arts and athletics classes. They compete in UIL events as one school.</p>
	<p><a href="history"><span class="glyphicon glyphicon-link
glyphicon "></span>Read more about LASA's history</a></p>
	<h5>Mission</h5>
	<p>LASA educates socially responsible leaders, problem solvers, and thinkers through a nationally recognized, rigorous, innovative, interdisciplinary curriculum.</p>
	<p><a href="history"><span class="glyphicon glyphicon-link
glyphicon "></span>Read more about LASA's mission and vision</a></p>
	<h5>Student Profile</h5>
{% endblock %}