{% extends "layout.html" %}
{% block body %}
<h2>Bell Schedules</h2>
<h4>Non-split schedule</h4>
<table class="table">
  <tr>
    <th>Period</th>
    <th>Time</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>0A/0B</td>
    <td>8:10-9:40</td>
    <td>90</td>
  </tr>
  <tr>
    <td>1/5</td>
    <td>9:45-11:20</td>
    <td>95</td>
  </tr>
  <tr>
    <td>Lunch</td>
    <td>11:20-12:10</td>
    <td>50</td>
  </tr>
  <tr>
    <td>2/6</td>
    <td>12:15-1:45</td>
    <td>90</td>
  </tr>
  <tr>
    <td>2/6</td>
    <td>12:15-1:45</td>
    <td>90</td>
  </tr>
  <tr>
    <td>FIT</td>
    <td>1:50-2:15</td>
    <td>25</td>
  </tr>
  <tr>
    <td>3/7</td>
    <td>2:20-3:50</td>
    <td>90</td>
  </tr>
</table>

<h4>Split schedule</h4>
<table class="table">
  <tr>
    <th>Period</th>
    <th>Time</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>0A/0B</td>
    <td>8:10-8:55</td>
    <td>45</td>
  </tr>
  <tr>
    <td>1/5</td>
    <td>9:00-10:30</td>
    <td>90</td>
  </tr>
  <tr>
    <td>0A/0B</td>
    <td>10:35-11:20</td>
    <td>45</td>
  </tr>
  <tr>
    <td>Lunch</td>
    <td>11:20-12:10</td>
    <td>50</td>
  </tr>
  <tr>
    <td>2/6</td>
    <td>12:15-1:45</td>
    <td>90</td>
  </tr>
  <tr>
    <td>FIT</td>
    <td>1:50-2:15</td>
    <td>25</td>
  </tr>
  <tr>
    <td>3/7</td>
    <td>2:20-3:50</td>
    <td>90</td>
  </tr>
</table>

<h4>Late Start schedule</h4>
<table class="table">
  <tr>
    <th>Period</th>
    <th>Time</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>Teachers' Meeting</td>
    <td>8:00-10:00</td>
    <td>120</td>
  </tr>
  <tr>
    <td>5</td>
    <td>10:10-11:25</td>
    <td>75</td>
  </tr>
  <tr>
    <td>0B</td>
    <td>11:30-12:40</td>
    <td>70</td>
  </tr>
  <tr>
    <td>Lunch</td>
    <td>12:40-1:15</td>
    <td>35</td>
  </tr>
  <tr>
    <td>6</td>
    <td>1:20-2:30</td>
    <td>70</td>
  </tr>
  <tr>
    <td>7</td>
    <td>2:35-3:50</td>
    <td>75</td>
  </tr>
</table>

<div>Late Start dates: 9/1, 8/6, 11/3, 12/1, 1/12, 2/2, 4/6</div> <br/>

<h4>Pep Rally schedule</h4>
<table class="table">
  <tr>
    <th>Period</th>
    <th>Time</th>
    <th>Minutes</th>
  </tr>
  <tr>
    <td>0A/0B</td>
    <td>8:10-9:35</td>
    <td>85</td>
  </tr>
  <tr>
    <td>1/5</td>
    <td>9:40-11:05</td>
    <td>85</td>
  </tr>
  <tr>
    <td>Pep Rally</td>
    <td>11:05-11:50</td>
    <td>45</td>
  </tr>
  <tr>
    <td>2/6</td>
    <td>11:55-1:20</td>
    <td>85</td>
  </tr>
  <tr>
    <td>Lunch</td>
    <td>1:20-2:20</td>
    <td>60</td>
  </tr>
  <tr>
    <td>3/7</td>
    <td>2:25-3:50</td>
    <td>85</td>
  </tr>
</table>

<div>Pep Rally dates: 9/2, 9/30, 10/21, 11/3</div>
{% endblock %}
