{% extends "layout.html" %}
{% block body %}

<h2 class="post-title" style="border-bottom:0px">Manage Slideshow</h2>
<div class="edit-delete">
    <a href="/newslide">new slide</a>
</div>

<p>The following are all of the slides that appear in the slideshow on the front page.</p>
<p>Images must have an aspect ratio of 40x77 to appear unstretched.</p>

{% macro truncate(str, len) -%}
    {{(str[:len].rstrip() + "...") if str|length > len else str}}
{%- endmacro %}

{% for slide in slides %}

<div class="news-item slide">
    <div><a target="_blank" href="{{slide.url}}"><img src="{{slide.image_url}}" width="100" height="52"/></a></div>
    <div style="width:100%; padding-left:10px">
        {{truncate(slide.url, 40)}}

        <div class="edit-delete">
            <a href="/editslide?id={{slide.id_}}">edit</a> | 
            <a href="/delslide?id={{slide.id_}}">delete</a>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}
